In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

In [99]:
user_pv = pd.DataFrame.from_csv('user_post_votes.csv', index_col=None)
user_pv.head(10)

,UserId,UserViews,UserReputation,PostId,PostType,VoteType,PostCreation,VoteCreation
0,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-15T00:00:00.000
1,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-15T00:00:00.000
2,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-16T00:00:00.000
3,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-16T00:00:00.000
4,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-16T00:00:00.000
5,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-22T00:00:00.000
6,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-28T00:00:00.000
7,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-12-13T00:00:00.000
8,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2012-01-30T00:00:00.000
9,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2012-04-20T00:00:00.000

In [78]:
user_pv[((user_pv.PostType!=1) & (user_pv.PostType!=2)) | (user_pv.PostId).isnull()]

Empty DataFrame
Columns: [UserId, UserViews, UserReputation, PostId, PostType, VoteType, PostCreation, VoteCreation]
Index: []

In [83]:
user_pv[user_pv.UserId==3]

,UserId,UserViews,UserReputation,PostId,PostType,VoteType,PostCreation,VoteCreation
0,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-15T00:00:00.000
1,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-15T00:00:00.000
2,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-16T00:00:00.000
3,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-16T00:00:00.000
4,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-16T00:00:00.000
5,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-22T00:00:00.000
6,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-28T00:00:00.000
7,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-12-13T00:00:00.000
8,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2012-01-30T00:00:00.000
9,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2012-04-20T00:00:00.000
10,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2015-09-16T00:00:00.000
11,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2015-09-20T00:00:00.000
593,3,44,1317,56,2,2,2011-11-15T21:34:26.457,2011-11-15T00:00:00.000
594,3,44,1317,56,2,2,2011-11-15T21:34:26.457,2011-11-15T00:00:00.000
595,3,44,1317,56,2,2,2011-11-15T21:34:26.457,2011-11-16T00:00:00.000
596,3,44,1317,56,2,2,2011-11-15T21:34:26.457,2011-11-16T00:00:00.000
597,3,44,1317,56,2,2,2011-11-15T21:34:26.457,2011-11-16T00:00:00.000
598,3,44,1317,56,2,2,2011-11-15T21:34:26.457,2011-11-19T00:00:00.000
599,3,44,1317,56,2,2,2011-11-15T21:34:26.457,2011-11-22T00:00:00.000
600,3,44,1317,56,2,2,2011-11-15T21:34:26.457,2012-04-20T00:00:00.000
601,3,44,1317,56,2,2,2011-11-15T21:34:26.457,2014-05-08T00:00:00.000
641,3,44,1317,62,2,2,2011-11-15T21:45:06.530,2011-11-15T00:00:00.000
642,3,44,1317,62,2,2,2011-11-15T21:45:06.530,2011-11-15T00:00:00.000
643,3,44,1317,62,2,2,2011-11-15T21:45:06.530,2011-11-15T00:00:00.000
644,3,44,1317,62,2,2,2011-11-15T21:45:06.530,2011-11-16T00:00:00.000
645,3,44,1317,62,2,2,2011-11-15T21:45:06.530,2011-11-16T00:00:00.000
646,3,44,1317,62,2,2,2011-11-15T21:45:06.530,2011-11-18T00:00:00.000
647,3,44,1317,62,2,2,2011-11-15T21:45:06.530,2011-11-22T00:00:00.000
648,3,44,1317,62,2,2,2011-11-15T21:45:06.530,2011-11-23T00:00:00.000
649,3,44,1317,62,2,2,2011-11-15T21:45:06.530,2011-11-24T00:00:00.000
...,...,...,...,...,...,...,...,...
2126,3,44,1317,248,2,2,2011-11-16T21:59:06.330,2012-04-30T00:00:00.000
2127,3,44,1317,248,2,2,2011-11-16T21:59:06.330,2012-05-15T00:00:00.000
2128,3,44,1317,248,2,2,2011-11-16T21:59:06.330,2012-08-07T00:00:00.000
2129,3,44,1317,248,2,2,2011-11-16T21:59:06.330,2012-12-17T00:00:00.000
2130,3,44,1317,248,2,2,2011-11-16T21:59:06.330,2012-12-30T00:00:00.000
2131,3,44,1317,248,2,2,2011-11-16T21:59:06.330,2013-01-04T00:00:00.000
2132,3,44,1317,248,2,2,2011-11-16T21:59:06.330,2013-11-22T00:00:00.000
2133,3,44,1317,248,2,2,2011-11-16T21:59:06.330,2015-02-17T00:00:00.000
2134,3,44,1317,248,2,2,2011-11-16T21:59:06.330,2015-04-24T00:00:00.000
2135,3,44,1317,248,2,2,2011-11-16T21:59:06.330,2015-11-06T00:00:00.000
3207,3,44,1317,430,2,2,2011-11-21T17:34:04.487,2011-11-21T00:00:00.000
3208,3,44,1317,430,2,2,2011-11-21T17:34:04.487,2011-11-22T00:00:00.000
3209,3,44,1317,430,2,2,2011-11-21T17:34:04.487,2011-11-22T00:00:00.000
3210,3,44,1317,430,2,2,2011-11-21T17:34:04.487,2011-11-22T00:00:00.000
3211,3,44,1317,430,2,2,2011-11-21T17:34:04.487,2011-11-22T00:00:00.000
3212,3,44,1317,430,2,2,2011-11-21T17:34:04.487,2011-12-04T00:00:00.000
3213,3,44,1317,430,2,2,2011-11-21T17:34:04.487,2012-01-04T00:00:00.000
3214,3,44,1317,430,2,2,2011-11-21T17:34:04.487,2012-07-18T00:00:00.000
4591,3,44,1317,647,2,2,2011-11-28T16:14:14.237,2011-11-28T00:00:00.000
4592,3,44,1317,647,2,2,2011-11-28T16:14:14.237,2011-11-28T00:00:00.000
4593,3,44,1317,647,2,2,2011-11-28T16:14:14.237,2011-11-28T00:00:00.000
4594,3,44,1317,647,2,2,2011-11-28T16:14:14.237,2011-11-30T00:00:00.000
4595,3,44,1317,647,2,2,2011-11-28T16:14:14.237,2011-12-01T00:00:00.000
4596,3,44,1317,647,2,2,2011-11-28T16:14:14.237,2011-12-12T00:00:00.000
4860,3,44,1317,690,2,2,2011-11-30T14:59:47.507,2011-11-30T00:00:00.000
5437,3,44,1317,795,2,2,2011-12-06T22:41:34.047,2011-12-06T00:00:00.000
5438,3,44,1317,795,2,2,2011-12-06T22:41:34.047,2011-12-07T00:00:00.000
5439,3,44,1317,795,2,2,2011-12-06T22:41:34.047,2011-12-12T00:00:00.000
5440,3,44,1317,795,2,2,2011-12-06T22:41:34.047,2012-01-24T00:00:00.000
5441,3,44,1317,795,2,2,2011-12-06T22:41:34.047,2014-05-28T00:00:00.000

In [100]:

def do_rename(se,new_name):
    se.name = new_name
    return se

def post_counts(df,p_typeid=1):
    diff_counts = lambda df_l : (df_l.drop_duplicates().groupby('UserId').cumcount() + 1).reindex(df_l.index).ffill()
    if p_typeid == 2:
        colname = "AnsContributed"
    if not (df.PostType==p_typeid).any():
        return pd.Series([0 for e in range(df.shape[0])],index=df.index)
    return diff_counts(df[df.PostType==p_typeid][['UserId','PostId']]).reindex(df.index).ffill().fillna(0)

predictors_tseries = ["QContributed","AnsContributed","VotesRcvQ","VotesRcvAns"]
get_cols = lambda df : [post_counts(df), post_counts(df,p_typeid=2), (df.PostType==1).cumsum(), (df.PostType==2).cumsum()]
        
ff1 = lambda df : pd.concat([do_rename(get_c,name) for name,get_c in zip(predictors_tseries,get_cols(df))],axis=1)
user_tseries = user_pv.sort_values(by=["PostCreation","VoteCreation"]).groupby(['UserId']).apply(ff1).reset_index(level=[0],drop=False)

In [103]:
user_tseries[(user_tseries.QContributed.isnull())| (user_tseries.AnsContributed.isnull())]

Empty DataFrame
Columns: [UserId, QContributed, AnsContributed, VotesRcvQ, VotesRcvAns]
Index: []

## Aggregate predictors Reputation against (Q-Ans)Contributions and votes on contributions

In [44]:
users = user_pv[['UserId','UserViews','UserReputation','PostId','PostType']]

In [45]:
predictors = ["Reputation","Views","QContributed","AnsContributed","VotesRcvQ","VotesRcvAns"]

pr_values = lambda df: [[df.UserReputation.iloc[0]],[df.UserViews.iloc[0]], [df[df.PostType==1]['PostId'].unique().size],
                        [df[df.PostType==2]['PostId'].unique().size], [sum(df.PostType==1)], [sum(df.PostType==2)]]
ff2 = lambda df : pd.DataFrame(data=dict(zip(predictors,pr_values(df))))
users = users.groupby(['UserId']).apply(ff).reset_index(level=[1],drop=True)
users.head(10)

,AnsContributed,QContributed,Reputation,Views,VotesRcvAns,VotesRcvQ
UserId,,,,,,
3,11,6,1317,44,90,60
5,1,2,205,5,4,12
6,0,6,460,11,0,69
8,3,0,226,6,11,0
9,1,0,111,0,1,0
10,7,1,708,25,56,12
12,57,100,6139,375,289,625
15,2,0,153,6,5,0
18,0,2,380,0,0,55
19,0,1,111,7,0,3

In [7]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [8]:
users.describe()

,AnsContributed,QContributed,Reputation,Views,VotesRcvAns,VotesRcvQ
count,1959.000000,1959.000000,1959.000000,1959.000000,1959.000000,1959.000000
mean,3.438999,1.370087,199.009699,3.849923,11.979581,5.527310
std,13.486316,8.339413,669.354065,17.781874,52.105374,34.421235
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,11.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,66.000000,1.000000,1.000000,0.000000
75%,2.000000,1.000000,146.000000,2.000000,5.000000,3.000000
max,361.000000,266.000000,15418.000000,375.000000,1250.000000,1091.000000

In [9]:
users.Reputation.quantile([.75, .85, .95])

0.75    146.0
0.85    213.3
0.95    701.1
Name: Reputation, dtype: float64

In [11]:
mod_ols = smf.ols(formula='Reputation ~ Views + AnsContributed + QContributed + VotesRcvAns + VotesRcvQ', data= users[users.Reputation>=210])
res = mod_ols.fit()
print res.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:             Reputation   R-squared:                       0.996
Model:                            OLS   Adj. R-squared:                  0.995
Method:                 Least Squares   F-statistic:                 1.316e+04
Date:                Thu, 07 Apr 2016   Prob (F-statistic):               0.00
Time:                        09:32:27   Log-Likelihood:                -1800.7
No. Observations:                 299   AIC:                             3613.
Df Residuals:                     293   BIC:                             3636.
Df Model:                           5
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Intercept         63.1466      6.807      9.277      0.000        49.750    76.544
Views             -0.5060      0.254     -1.989      0.048        -1.007    -0.005
AnsContributed    -1.2642      0.593     -2.133      0.034        -2.431    -0.098
QContributed       0.8072      0.831      0.972      0.332        -0.828     2.442
VotesRcvAns       11.9501      0.170     70.393      0.000        11.616    12.284
VotesRcvQ          4.8064      0.218     22.048      0.000         4.377     5.235
==============================================================================
Omnibus:                       99.216   Durbin-Watson:                   1.899
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3341.410
Skew:                          -0.597   Prob(JB):                         0.00
Kurtosis:                      19.333   Cond. No.                         173.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [69]:
df1 = pd.DataFrame({'tag':['A','A','B','A','C'],'id': [1,1,1,1,1]})
do_rename(df1.id,"dodo")

0    1
1    1
2    1
3    1
4    1
Name: dodo, dtype: int64

In [41]:
unique_count = (df1.drop_duplicates().groupby('id').cumcount() + 1).reindex(df1.index).ffill()

In [98]:
a = pd.Series([np.nan,2,np.nan,3,np.nan,2,3,3])
a.fillna(method='ffill').fillna(0)

0    0
1    2
2    2
3    3
4    3
5    2
6    3
7    3
dtype: float64

In [23]:
df1.drop_duplicates()

   id tag
0   1   A
2   1   B
3   1   C
4   2   A
6   2   B