In [9]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

In [34]:
user_pv = pd.DataFrame.from_csv('user_post_votes.csv', index_col=None)
user_pv.head(15)

,UserId,UserViews,UserReputation,PostId,PostType,VoteType,PostCreation,VoteCreation
0,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-15T00:00:00.000
1,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-15T00:00:00.000
2,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-16T00:00:00.000
3,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-16T00:00:00.000
4,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-16T00:00:00.000
5,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-22T00:00:00.000
6,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-11-28T00:00:00.000
7,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2011-12-13T00:00:00.000
8,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2012-01-30T00:00:00.000
9,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2012-04-20T00:00:00.000
10,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2015-09-16T00:00:00.000
11,3,44,1317,1,1,2,2011-11-15T20:45:51.037,2015-09-20T00:00:00.000
12,10,25,708,2,1,2,2011-11-15T20:50:11.270,2011-11-15T00:00:00.000
13,10,25,708,2,1,2,2011-11-15T20:50:11.270,2011-11-15T00:00:00.000
14,10,25,708,2,1,2,2011-11-15T20:50:11.270,2011-11-15T00:00:00.000

In [35]:
users = user_pv[['UserId','UserViews','UserReputation','PostId','PostType']]

In [36]:
predictors = ["Reputation","Views","PostsContributed","VotesRecQ","VotesRecAns"]
pr_values = lambda df: [[df.UserReputation.iloc[0]],[df.UserViews.iloc[0]],[df['PostId'].unique().size], [sum(df.PostType==1)], [sum(df.PostType==2)]]
ff = lambda df : pd.DataFrame(data=dict(zip(predictors,pr_values(df))))
users = users.groupby(['UserId']).apply(ff).reset_index(level=[1],drop=True)
users.head(15)

        PostsContributed  Reputation  Views  VotesRecAns  VotesRecQ
UserId
3                     17        1317     44           90         60
5                      3         205      5            4         12
6                      6         460     11            0         69
8                      3         226      6           11          0
9                      1         111      0            1          0
10                     8         708     25           56         12
12                   157        6139    375          289        625
15                     2         153      6            5          0
18                     2         380      0            0         55
19                     1         111      7            0          3
22                     1         115      4            0          7
23                     5         579      7           46          0
25                     6         328      5           13         21
26                     7         546     36           16         53
27                    11         779     11           68          0

In [30]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [37]:
users.describe()

       PostsContributed    Reputation        Views  VotesRecAns    VotesRecQ
count       1959.000000   1959.000000  1959.000000  1959.000000  1959.000000
mean           4.809086    199.009699     3.849923    11.979581     5.527310
std           16.889362    669.354065    17.781874    52.105374    34.421235
min            1.000000      1.000000     0.000000     0.000000     0.000000
25%            1.000000     11.000000     0.000000     0.000000     0.000000
50%            1.000000     66.000000     1.000000     1.000000     0.000000
75%            3.000000    146.000000     2.000000     5.000000     3.000000
max          372.000000  15418.000000   375.000000  1250.000000  1091.000000

In [38]:
users.Reputation.quantile([.75, .85, .95])

0.75    146.0
0.85    213.3
0.95    701.1
Name: Reputation, dtype: float64

In [42]:
mod_ols = smf.ols(formula='Reputation ~ Views + PostsContributed + VotesRecAns + VotesRecQ', data= users[users.Reputation>=210])
res = mod_ols.fit()
print res.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:             Reputation   R-squared:                       0.996
Model:                            OLS   Adj. R-squared:                  0.995
Method:                 Least Squares   F-statistic:                 1.630e+04
Date:                Thu, 07 Apr 2016   Prob (F-statistic):               0.00
Time:                        02:10:49   Log-Likelihood:                -1802.5
No. Observations:                 299   AIC:                             3615.
Df Residuals:                     294   BIC:                             3634.
Df Model:                           4
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------
Intercept           62.6443      6.833      9.168      0.000        49.197    76.092
Views               -0.4969      0.256     -1.945      0.053        -1.000     0.006
PostsContributed    -0.5289      0.454     -1.166      0.245        -1.422     0.364
VotesRecAns         11.7584      0.138     85.330      0.000        11.487    12.030
VotesRecQ            5.1253      0.141     36.230      0.000         4.847     5.404
==============================================================================
Omnibus:                      120.881   Durbin-Watson:                   1.895
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3555.255
Skew:                          -0.984   Prob(JB):                         0.00
Kurtosis:                      19.778   Cond. No.                         176.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.