In [21]:
%matplotlib inline
import pandas as pd
import numpy as np

In [26]:
a_questions = pd.DataFrame.from_csv('question_votes.csv', index_col=None)
a_questions[a_questions.AcceptedAnsId.notnull()].head()

,QuestionId,QuestionCreation,QuestionLastActivity,AcceptedAnsId,AcceptedDate,VoteType,QVoteCreation
0,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2,2011-11-15T20:45:51.037
1,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2,2011-11-15T20:45:51.037
2,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2,2011-11-15T20:45:51.037
3,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2,2011-11-15T20:45:51.037
4,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2,2011-11-15T20:45:51.037

In [27]:
get_votes_qv = lambda df: pd.Series((df.VoteType==2).cumsum() + (df.VoteType==3).cumsum(),name='QVotes')
get_score_qv = lambda df: pd.Series((df.VoteType==2).cumsum() - (df.VoteType==3).cumsum(),name='QScore')

predictors_qvotes = ['QuestionId','QuestionCreation','QuestionLastActivity','AcceptedAnsId','AcceptedDate','QVoteCreation']
f_q = lambda df: pd.concat([df[cname] for cname in df.columns.values.tolist() if cname in predictors_qvotes]+[get_score_qv(df),get_votes_qv(df)],axis=1)
a_questions = a_questions.sort_values(by='QVoteCreation').groupby(['QuestionId']).apply(f_q)
a_questions.head(10)

,QuestionId,QuestionCreation,QuestionLastActivity,AcceptedAnsId,AcceptedDate,QVoteCreation,QScore,QVotes
0,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,1,1
11,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,2,2
10,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,3,3
9,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,4,4
7,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,5,5
6,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,6,6
8,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,7,7
4,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,8,8
3,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,9,9
2,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,10,10

In [25]:
a_votes = pd.DataFrame.from_csv('votes-answers.csv', index_col=None)
a_votes = pd.merge(a_votes, a_questions, how='inner', on=['QuestionId'],suffixes=['_v', '_q'])
#a_votes['AcceptedDate'].fillna(pd.to_datetime('20160320'),inplace=True) #Date After Data Set Collection
a_votes

,VoteCreation,AnsCreation,VoteType,AnsId,QuestionId,AnsWordCount,QuestionCreation,QuestionLastActivity,AcceptedAnsId,AcceptedDate,QVoteCreation,QScore,QVotes
0,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,1,1
1,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,2,2
2,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,3,3
3,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,4,4
4,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,5,5
5,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,6,6
6,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,7,7
7,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,8,8
8,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,9,9
9,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,10,10
10,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,11,11
11,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,12,12
12,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,1,1
13,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,2,2
14,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,3,3
15,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,4,4
16,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,5,5
17,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,6,6
18,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,7,7
19,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,8,8
20,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,9,9
21,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,10,10
22,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,11,11
23,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,12,12
24,2011-11-15T00:00:00.000,2011-11-15T20:54:09.083,2,5,1,37,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,1,1
25,2011-11-15T00:00:00.000,2011-11-15T20:54:09.083,2,5,1,37,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,2,2
26,2011-11-15T00:00:00.000,2011-11-15T20:54:09.083,2,5,1,37,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,3,3
27,2011-11-15T00:00:00.000,2011-11-15T20:54:09.083,2,5,1,37,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,4,4
28,2011-11-15T00:00:00.000,2011-11-15T20:54:09.083,2,5,1,37,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,5,5
29,2011-11-15T00:00:00.000,2011-11-15T20:54:09.083,2,5,1,37,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154177,2015-12-31T00:00:00.000,2015-12-30T17:59:38.450,2,15676,15664,163,2015-12-28T18:47:08.423,2015-12-30T17:59:38.450,15665,2015-12-30T00:00:00.000,2015-12-28T18:47:08.423,2,2
154178,2015-12-30T00:00:00.000,2015-12-30T02:43:07.257,2,15672,15670,416,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154179,2015-12-30T00:00:00.000,2015-12-30T02:43:07.257,2,15672,15670,416,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154180,2015-12-30T00:00:00.000,2015-12-30T02:43:07.257,3,15672,15670,416,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154181,2015-12-30T00:00:00.000,2015-12-30T13:32:28.740,2,15675,15670,133,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154182,2015-12-30T00:00:00.000,2015-12-30T02:21:29.207,2,15671,15670,84,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154183,2015-12-30T00:00:00.000,2015-12-30T13:32:28.740,2,15675,15670,133,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154184,2015-12-30T00:00:00.000,2015-12-30T13:32:28.740,2,15675,15670,133,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154185,2015-12-30T00:00:00.000,2015-12-30T13:32:28.740,2,15675,15670,133,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154186,2015-12-30T00:00:00.000,2015-12-30T18:28:53.867,2,15677,15670,116,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154187,2015-12-31T00:00:00.000,2015-12-30T02:43:07.257,2,15672,15670,416,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154188,2016-01-01T00:00:00.000,2015-12-30T02:43:07.257,2,15672,15670,416,2015-12-30T00:22:21.153,2015-12-31T21:40:15.730,15675,2016-01-01T00:00:00.000,2015-12-30T00:22:21.153,1,1
154189,2015-12-30T00:00:00.000,2015-12-29T20:18:57.963,2,15669,15667,462,2015-12-29T16:13:27.103,2015-12-30T14:59:34.620,15669,2015-12-30T00:00:00.000,2015-12-29T16:13:27.103,1,1
154190,2015-12-30T00:00:00.000,2015-12-29T20:18:57.963,2,15669,15667,462,2015-12-29T16:13:27.103,2015-12-30T14:59:34.620,15669,2015-12-30T00:00:00.000,2015-12-29T16:13:27.103,2,2
154191,2015-12-30T00:00:00.000,2015-12-29T20:18:57.963,2,15669,15667,462,2015-12-29T16:13:27.103,2015-12-30T14:59:34.620,15669,2015-12-30T00:00:00.000,2015-12-29T16:13:27.103,3,3
154192,2015-12-30T00:00:00.000,2015-12-29T20:18:57.963,2,15669,15667,462,2015-12-29T16:13:27.103,2015-12-30T14:59:34.620,15669,2015-12-30T00:00:00.000,2015-12-29T16:13:27.103,4,4
154193,2016-01-02T00:00:00.000,2015-12-29T20:18:57.963,2,15669,15667,462,2015-12-29T16:13:27.103,2015-12-30T14:59:34.620,15669,2015-12-30T00:00:00.000,2015-12-29T16:13:27.103,1,1
154194,2016-01-02T00:00:00.000,2015-12-29T20:18:57.963,2,15669,15667,462,2015-12-29T16:13:27.103,2015-12-30T14:59:34.620,15669,2015-12-30T00:00:00.000,2015-12-29T16:13:27.103,2,2
154195,2016-01-02T00:00:00.000,2015-12-29T20:18:57.963,2,15669,15667,462,2015-12-29T16:13:27.103,2015-12-30T14:59:34.620,15669,2015-12-30T00:00:00.000,2015-12-29T16:13:27.103,3,3
154196,2016-01-02T00:00:00.000,2015-12-29T20:18:57.963,2,15669,15667,462,2015-12-29T16:13:27.103,2015-12-30T14:59:34.620,15669,2015-12-30T00:00:00.000,2015-12-29T16:13:27.103,4,4
154197,2016-01-01T00:00:00.000,2016-01-01T13:06:49.013,2,15689,15684,95,2015-12-31T21:10:31.357,2016-01-01T13:15:08.357,15689,2016-01-01T00:00:00.000,2015-12-31T21:10:31.357,1,1
154198,2016-01-01T00:00:00.000,2016-01-01T13:06:49.013,2,15689,15684,95,2015-12-31T21:10:31.357,2016-01-01T13:15:08.357,15689,2016-01-01T00:00:00.000,2015-12-31T21:10:31.357,1,1
154199,2016-01-02T00:00:00.000,2016-01-02T13:03:41.250,2,15700,15699,335,2016-01-02T11:10:43.700,2016-01-02T13:55:16.630,15700,2016-01-03T00:00:00.000,2016-01-02T11:10:43.700,1,1
154200,2016-01-02T00:00:00.000,2016-01-02T13:03:41.250,2,15700,15699,335,2016-01-02T11:10:43.700,2016-01-02T13:55:16.630,15700,2016-01-03T00:00:00.000,2016-01-02T11:10:43.700,2,2
154201,2016-01-02T00:00:00.000,2016-01-02T13:03:41.250,2,15700,15699,335,2016-01-02T11:10:43.700,2016-01-02T13:55:16.630,15700,2016-01-03T00:00:00.000,2016-01-02T11:10:43.700,1,1
154202,2016-01-02T00:00:00.000,2016-01-02T13:03:41.250,2,15700,15699,335,2016-01-02T11:10:43.700,2016-01-02T13:55:16.630,15700,2016-01-03T00:00:00.000,2016-01-02T11:10:43.700,2,2
154203,2016-01-03T00:00:00.000,2016-01-02T13:03:41.250,2,15700,15699,335,2016-01-02T11:10:43.700,2016-01-02T13:55:16.630,15700,2016-01-03T00:00:00.000,2016-01-02T11:10:43.700,1,1
154204,2016-01-03T00:00:00.000,2016-01-02T13:03:41.250,2,15700,15699,335,2016-01-02T11:10:43.700,2016-01-02T13:55:16.630,15700,2016-01-03T00:00:00.000,2016-01-02T11:10:43.700,2,2
154205,2016-01-02T00:00:00.000,2016-01-01T23:41:19.177,2,15695,15691,283,2016-01-01T19:14:14.953,2016-01-02T12:25:46.567,15695,2016-01-02T00:00:00.000,2016-01-01T19:14:14.953,1,1
154206,2016-01-02T00:00:00.000,2016-01-01T22:29:20.087,2,15694,15691,221,2016-01-01T19:14:14.953,2016-01-02T12:25:46.567,15695,2016-01-02T00:00:00.000,2016-01-01T19:14:14.953,1,1

In [ ]:
predictors_raw_vans =['VoteId','VoteCreation','AnsCreation','VoteType','AnsId','QuestionId','AnsWordCount']
get_latest_qv = lambda df :pd.concat(pd[pd.VoteCreation>=pd.QVoteCreation].QVoteCreation.max(),axis=1)
a_votes.sort_values(by='VoteCreation').groupby(['AnsId','VoteId']).apply(get_latest_qv)

In [54]:
a_votes['AcceptedAge'] = (pd.to_datetime(a_votes.AcceptedDate,format='%Y-%m-%d %H:%M:%S.%f')
                  -pd.to_datetime(a_votes.QuestionCreation,format='%Y-%m-%d %H:%M:%S.%f')).apply(lambda x: x.astype('timedelta64[D]').item().days)
a_votes['AcceptedAge'] = a_votes['AcceptedAge'] + 1

a_votes.loc[a_votes.AcceptedDate == pd.to_datetime('20160320'), 'AcceptedAge'] = -1

a_votes['RelAge'] = (pd.to_datetime(a_votes.VoteCreation,format='%Y-%m-%d %H:%M:%S.%f')
                  -pd.to_datetime(a_votes.AnsCreation,format='%Y-%m-%d %H:%M:%S.%f')).apply(lambda x: x.astype('timedelta64[D]').item().days)
a_votes['RelAge'] = a_votes['RelAge'] + 1

a_votes['Age'] = (pd.to_datetime(a_votes.VoteCreation,format='%Y-%m-%d %H:%M:%S.%f')
                  -pd.to_datetime(a_votes.QuestionCreation,format='%Y-%m-%d %H:%M:%S.%f')).apply(lambda x: x.astype('timedelta64[D]').item().days)
a_votes['Age'] = a_votes['Age'] + 1
a_votes.drop(a_votes.columns[[0, 1, 6, 7, 9]], axis=1, inplace=True)
a_votes

,VoteType,AnsId,QuestionId,AnsWordCount,AcceptedAnsId,QScore,QVotes,AcceptedAge,RelAge,Age
0,2,4,1,190,56,12,12,6,0,0
1,2,4,1,190,56,12,12,6,0,0
2,2,5,1,37,56,12,12,6,0,0
3,3,4,1,190,56,12,12,6,0,0
4,2,56,1,201,56,12,12,6,0,0
5,2,56,1,201,56,12,12,6,0,0
6,2,56,1,201,56,12,12,6,1,1
7,2,56,1,201,56,12,12,6,1,1
8,2,56,1,201,56,12,12,6,1,1
9,2,210,1,40,56,12,12,6,0,1
10,2,56,1,201,56,12,12,6,4,4
11,2,210,1,40,56,12,12,6,3,4
12,2,56,1,201,56,12,12,6,7,7
13,2,897,1,68,56,12,12,6,80,108
14,3,5,1,37,56,12,12,6,108,108
15,2,56,1,201,56,12,12,6,157,157
16,2,56,1,201,56,12,12,6,905,905
17,2,7030,1,145,56,12,12,6,1,951
18,2,7030,1,145,56,12,12,6,281,1231
19,2,7030,1,145,56,12,12,6,305,1255
20,2,7030,1,145,56,12,12,6,334,1284
21,2,7030,1,145,56,12,12,6,450,1400
22,2,7030,1,145,56,12,12,6,455,1405
23,3,15104,1,108,56,12,12,6,1,1436
24,3,15104,1,108,56,12,12,6,1,1436
25,3,15104,1,108,56,12,12,6,1,1436
26,2,4,1,190,56,12,12,6,1436,1436
27,2,6,2,51,10,12,12,1,0,0
28,2,10,2,145,10,12,12,1,0,0
29,2,13,2,89,10,12,12,1,0,0
...,...,...,...,...,...,...,...,...,...,...
22121,2,15658,15657,177,15658,3,3,5,2,2
22122,2,15661,15644,136,15661,2,2,4,0,4
22123,2,15663,15662,60,NaN,0,2,-1,0,0
22124,2,15663,15662,60,NaN,0,2,-1,5,5
22125,2,15665,15664,130,15665,2,2,2,0,0
22126,2,15666,15664,220,15665,2,2,2,0,0
22127,2,15665,15664,130,15665,2,2,2,2,2
22128,2,15665,15664,130,15665,2,2,2,2,2
22129,2,15676,15664,163,15665,2,2,2,1,3
22130,2,15672,15670,416,15675,1,1,2,0,0
22131,2,15672,15670,416,15675,1,1,2,0,0
22132,3,15672,15670,416,15675,1,1,2,0,0
22133,2,15675,15670,133,15675,1,1,2,0,0
22134,2,15671,15670,84,15675,1,1,2,0,0
22135,2,15675,15670,133,15675,1,1,2,0,0
22136,2,15675,15670,133,15675,1,1,2,0,0
22137,2,15675,15670,133,15675,1,1,2,0,0
22138,2,15677,15670,116,15675,1,1,2,0,0
22139,2,15672,15670,416,15675,1,1,2,1,1
22140,2,15672,15670,416,15675,1,1,2,2,2
22141,2,15669,15667,462,15669,4,5,1,1,1
22142,2,15669,15667,462,15669,4,5,1,4,4
22143,2,15674,15673,116,15674,0,1,0,0,0
22144,2,15689,15684,95,15689,1,1,1,0,1
22145,2,15689,15684,95,15689,1,1,1,0,1
22146,2,15700,15699,335,15700,2,2,1,0,0
22147,2,15700,15699,335,15700,2,2,1,0,0
22148,2,15700,15699,335,15700,2,2,1,1,1
22149,2,15695,15691,283,15695,1,1,1,1,1
22150,2,15694,15691,221,15695,1,1,1,1,1

In [55]:
a_comments = pd.DataFrame.from_csv('comment-ans.csv', index_col=None)
a_comments = pd.merge(a_comments, a_questions, how='inner', on=['QuestionId'],suffixes=['_vot', '_quest'])

a_comments['Age'] = (pd.to_datetime(a_comments.CommentCreation,format='%Y-%m-%d %H:%M:%S.%f')
                  -pd.to_datetime(a_comments.QuestionCreation,format='%Y-%m-%d %H:%M:%S.%f')).apply(lambda x: x.astype('timedelta64[D]').item().days)
a_comments['Age'] = a_comments['Age'] + 1
a_comments = a_comments[['AnsId','Age']]
a_comments.head(10)

   AnsId   Age
0      4     1
1      4     1
2      5     1
3     56     1
4     56     1
5     56     1
6     56     1
7   7030   951
8   7030  1285
9  15104  1436

## Each entry in the following tables represents the total votes in an answer in a given day (and associated attributes for the answer and question)

In [56]:
get_score = lambda df: sum(df.VoteType==2) - sum(df.VoteType==3)
get_votes = lambda df: sum(df.VoteType==2) + sum(df.VoteType==3)

predictors = ['QuestionId','AnsWordCount','AcceptedAnsId','AcceptedAge','QScore','QVotes','Score','Votes']
f = lambda df: pd.Series([df.QuestionId.iloc[0],df.AnsWordCount.iloc[0],df.AcceptedAnsId.iloc[0],df.AcceptedAge.iloc[0],df.QScore.iloc[0],df.QVotes.iloc[0],get_score(df),get_votes(df)],index = predictors)
a_groups = a_votes.sort_values(by='Age').groupby(['AnsId','Age']).apply(f)
a_groups = a_groups.reset_index(level=[0,1],drop=False)
a_groups

,AnsId,Age,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes
0,4,0,1,190,56,6,12,12,1,3
1,4,1436,1,190,56,6,12,12,1,1
2,5,0,1,37,56,6,12,12,1,1
3,5,108,1,37,56,6,12,12,-1,1
4,6,0,2,51,10,1,12,12,1,1
5,8,0,2,46,10,1,12,12,1,1
6,9,0,3,25,109,431,26,30,4,4
7,9,12,3,25,109,431,26,30,1,1
8,9,361,3,25,109,431,26,30,1,1
9,9,400,3,25,109,431,26,30,1,1
10,9,614,3,25,109,431,26,30,1,1
11,9,1501,3,25,109,431,26,30,1,1
12,10,0,2,145,10,1,12,12,3,3
13,10,1,2,145,10,1,12,12,1,1
14,10,14,2,145,10,1,12,12,1,1
15,10,25,2,145,10,1,12,12,1,1
16,10,807,2,145,10,1,12,12,1,1
17,10,1317,2,145,10,1,12,12,1,1
18,11,0,3,47,109,431,26,30,3,3
19,11,1,3,47,109,431,26,30,1,1
20,11,12,3,47,109,431,26,30,1,1
21,11,751,3,47,109,431,26,30,-1,1
22,11,822,3,47,109,431,26,30,-1,1
23,12,0,3,29,109,431,26,30,-1,1
24,12,1219,3,29,109,431,26,30,-1,1
25,13,0,2,89,10,1,12,12,3,3
26,13,14,2,89,10,1,12,12,1,1
27,13,807,2,89,10,1,12,12,1,1
28,15,0,3,67,109,431,26,30,-1,1
29,15,1,3,67,109,431,26,30,-1,1
...,...,...,...,...,...,...,...,...,...,...
15317,15650,6,15649,92,15650,2,1,1,1,1
15318,15652,0,15651,320,NaN,-1,3,3,1,1
15319,15652,1,15651,320,NaN,-1,3,3,1,1
15320,15656,1,15655,741,15656,1,2,2,3,3
15321,15658,0,15657,177,15658,5,3,3,4,4
15322,15658,2,15657,177,15658,5,3,3,1,1
15323,15661,4,15644,136,15661,4,2,2,1,1
15324,15663,0,15662,60,NaN,-1,0,2,1,1
15325,15663,5,15662,60,NaN,-1,0,2,1,1
15326,15665,0,15664,130,15665,2,2,2,1,1
15327,15665,2,15664,130,15665,2,2,2,2,2
15328,15666,0,15664,220,15665,2,2,2,1,1
15329,15668,1274,2520,27,2521,7,4,4,1,1
15330,15668,1275,2520,27,2521,7,4,4,1,1
15331,15669,1,15667,462,15669,1,4,5,1,1
15332,15669,4,15667,462,15669,1,4,5,1,1
15333,15671,0,15670,84,15675,2,1,1,1,1
15334,15672,0,15670,416,15675,2,1,1,1,3
15335,15672,1,15670,416,15675,2,1,1,1,1
15336,15672,2,15670,416,15675,2,1,1,1,1
15337,15674,0,15673,116,15674,0,0,1,1,1
15338,15675,0,15670,133,15675,2,1,1,4,4
15339,15676,3,15664,163,15665,2,2,2,1,1
15340,15677,0,15670,116,15675,2,1,1,1,1
15341,15685,1275,2536,8,2538,8,7,7,-1,1
15342,15689,1,15684,95,15689,1,1,1,2,2
15343,15694,1,15691,221,15695,1,1,1,1,1
15344,15695,1,15691,283,15695,1,1,1,1,1
15345,15700,0,15699,335,15700,1,2,2,2,2
15346,15700,1,15699,335,15700,1,2,2,1,1

In [57]:
cum_votes = lambda df: pd.Series(df['Votes'].cumsum(),name='CumVotes')
cum_score = lambda df: pd.Series(df['Score'].cumsum(),name='CumScore')

f =lambda df: pd.concat([df[cname] for cname in df.columns.values.tolist()] + [cum_votes(df),cum_score(df)],axis=1)
a_groups_c = a_groups.sort_values(by='Age').groupby(['AnsId']).apply(f)
a_groups_c

,AnsId,Age,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,CumVotes,CumScore
0,4,0,1,190,56,6,12,12,1,3,3,1
9928,5381,0,5379,66,5380,0,2,2,2,2,2,2
9926,5380,0,5379,43,5380,0,2,2,1,1,1,1
9925,5378,0,5377,51,5378,0,1,1,2,2,2,2
2499,867,0,865,138,867,45,5,6,2,2,2,2
9921,5375,0,5373,241,NaN,-1,2,2,1,1,1,1
9910,5368,0,5367,235,5368,0,0,2,1,1,1,1
9908,5366,0,5365,38,5366,0,0,1,2,2,2,2
9903,5363,0,5360,389,5363,3,3,4,1,1,1,1
9902,5362,0,5360,44,5363,3,3,4,1,1,1,1
9900,5359,0,5357,136,5359,0,2,3,2,2,2,2
2513,877,0,875,87,877,4,9,9,7,7,7,7
9895,5358,0,5350,428,NaN,-1,4,6,2,2,2,2
9891,5355,0,5354,116,NaN,-1,2,3,3,3,3,3
2517,879,0,875,59,877,4,9,9,4,4,4,4
2519,880,0,873,448,880,0,5,5,5,5,5,5
9883,5347,0,5344,124,NaN,-1,3,4,1,1,1,1
2521,882,0,881,139,882,1,7,9,2,2,2,2
9880,5340,0,5339,58,NaN,-1,1,1,1,1,1,1
9871,5334,0,5333,213,5334,0,5,6,4,4,4,4
9864,5328,0,5323,35,5335,1,2,2,1,1,1,1
9861,5327,0,5323,13,5335,1,2,2,0,2,2,0
9930,5385,0,5377,126,5378,0,1,1,1,1,1,1
9854,5326,0,5325,311,5326,8,7,7,1,1,1,1
9933,5386,0,5382,207,5386,4,2,4,1,1,1,1
9941,5394,0,5393,17,5394,55,2,2,4,4,4,4
10002,5444,0,5438,46,5440,0,1,2,1,1,1,1
9990,5442,0,5441,64,5442,0,5,5,2,2,2,2
2463,852,0,848,8,853,1,5,5,1,1,1,1
2464,853,0,848,191,853,1,5,5,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1519,467,1453,463,49,465,10,7,7,1,1,9,9
6168,2846,1453,38,126,2846,306,22,25,1,1,13,13
2547,894,1453,108,132,166,5,33,39,1,1,5,5
1459,449,1454,441,19,442,1,11,16,1,1,8,6
428,93,1454,84,87,205,1,58,70,1,1,23,23
1429,442,1454,441,47,442,1,11,16,1,1,15,15
1441,444,1454,441,33,442,1,11,16,1,1,11,11
7675,3774,1454,446,92,448,24,7,9,1,1,3,3
1660,519,1457,513,303,2323,192,41,44,1,1,34,32
2150,718,1459,694,83,696,1,17,17,1,1,6,6
2229,751,1459,694,71,696,1,17,17,1,1,4,4
6619,3079,1465,319,61,337,16,9,14,1,1,4,4
826,205,1465,84,385,205,1,58,70,1,1,62,56
15050,15395,1468,172,20,175,121,10,10,-1,1,1,-1
15048,15391,1469,7,124,2977,342,23,26,1,1,1,1
15051,15395,1469,172,20,175,121,10,10,-1,3,4,-2
774,203,1469,172,26,175,121,10,10,0,2,3,1
645,175,1469,172,44,175,121,10,10,1,1,14,14
675,182,1470,172,19,175,121,10,10,1,1,19,15
646,175,1470,172,44,175,121,10,10,1,1,15,15
562,140,1476,134,93,140,69,17,19,1,1,14,14
676,182,1483,172,19,175,121,10,10,1,1,20,16
1430,442,1484,441,47,442,1,11,16,1,1,16,16
1380,425,1485,418,140,425,0,13,13,1,1,19,19
742,191,1491,137,494,191,0,40,53,1,1,52,52
1169,335,1496,328,360,335,716,21,26,1,1,24,24
743,191,1497,137,494,191,0,40,53,1,1,53,53
1170,335,1498,328,360,335,716,21,26,1,1,25,25
11,9,1501,3,25,109,431,26,30,1,1,9,9
429,93,1504,84,87,205,1,58,70,1,1,24,24

In [58]:
a_groups_c['ReScore'] = a_groups_c['CumScore']/(a_groups_c['CumVotes']+1.0)
a_groups_c['QReScore'] = a_groups_c['QScore']/(a_groups_c['QVotes']+1.0)
#votes['TScore'] = np.power(votes['Score'],votes['age_vot'])
a_groups_c

,AnsId,Age,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,CumVotes,CumScore,ReScore,QReScore
0,4,0,1,190,56,6,12,12,1,3,3,1,0.250000,0.923077
9928,5381,0,5379,66,5380,0,2,2,2,2,2,2,0.666667,0.666667
9926,5380,0,5379,43,5380,0,2,2,1,1,1,1,0.500000,0.666667
9925,5378,0,5377,51,5378,0,1,1,2,2,2,2,0.666667,0.500000
2499,867,0,865,138,867,45,5,6,2,2,2,2,0.666667,0.714286
9921,5375,0,5373,241,NaN,-1,2,2,1,1,1,1,0.500000,0.666667
9910,5368,0,5367,235,5368,0,0,2,1,1,1,1,0.500000,0.000000
9908,5366,0,5365,38,5366,0,0,1,2,2,2,2,0.666667,0.000000
9903,5363,0,5360,389,5363,3,3,4,1,1,1,1,0.500000,0.600000
9902,5362,0,5360,44,5363,3,3,4,1,1,1,1,0.500000,0.600000
9900,5359,0,5357,136,5359,0,2,3,2,2,2,2,0.666667,0.500000
2513,877,0,875,87,877,4,9,9,7,7,7,7,0.875000,0.900000
9895,5358,0,5350,428,NaN,-1,4,6,2,2,2,2,0.666667,0.571429
9891,5355,0,5354,116,NaN,-1,2,3,3,3,3,3,0.750000,0.500000
2517,879,0,875,59,877,4,9,9,4,4,4,4,0.800000,0.900000
2519,880,0,873,448,880,0,5,5,5,5,5,5,0.833333,0.833333
9883,5347,0,5344,124,NaN,-1,3,4,1,1,1,1,0.500000,0.600000
2521,882,0,881,139,882,1,7,9,2,2,2,2,0.666667,0.700000
9880,5340,0,5339,58,NaN,-1,1,1,1,1,1,1,0.500000,0.500000
9871,5334,0,5333,213,5334,0,5,6,4,4,4,4,0.800000,0.714286
9864,5328,0,5323,35,5335,1,2,2,1,1,1,1,0.500000,0.666667
9861,5327,0,5323,13,5335,1,2,2,0,2,2,0,0.000000,0.666667
9930,5385,0,5377,126,5378,0,1,1,1,1,1,1,0.500000,0.500000
9854,5326,0,5325,311,5326,8,7,7,1,1,1,1,0.500000,0.875000
9933,5386,0,5382,207,5386,4,2,4,1,1,1,1,0.500000,0.400000
9941,5394,0,5393,17,5394,55,2,2,4,4,4,4,0.800000,0.666667
10002,5444,0,5438,46,5440,0,1,2,1,1,1,1,0.500000,0.333333
9990,5442,0,5441,64,5442,0,5,5,2,2,2,2,0.666667,0.833333
2463,852,0,848,8,853,1,5,5,1,1,1,1,0.500000,0.833333
2464,853,0,848,191,853,1,5,5,1,1,1,1,0.500000,0.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,467,1453,463,49,465,10,7,7,1,1,9,9,0.900000,0.875000
6168,2846,1453,38,126,2846,306,22,25,1,1,13,13,0.928571,0.846154
2547,894,1453,108,132,166,5,33,39,1,1,5,5,0.833333,0.825000
1459,449,1454,441,19,442,1,11,16,1,1,8,6,0.666667,0.647059
428,93,1454,84,87,205,1,58,70,1,1,23,23,0.958333,0.816901
1429,442,1454,441,47,442,1,11,16,1,1,15,15,0.937500,0.647059
1441,444,1454,441,33,442,1,11,16,1,1,11,11,0.916667,0.647059
7675,3774,1454,446,92,448,24,7,9,1,1,3,3,0.750000,0.700000
1660,519,1457,513,303,2323,192,41,44,1,1,34,32,0.914286,0.911111
2150,718,1459,694,83,696,1,17,17,1,1,6,6,0.857143,0.944444
2229,751,1459,694,71,696,1,17,17,1,1,4,4,0.800000,0.944444
6619,3079,1465,319,61,337,16,9,14,1,1,4,4,0.800000,0.600000
826,205,1465,84,385,205,1,58,70,1,1,62,56,0.888889,0.816901
15050,15395,1468,172,20,175,121,10,10,-1,1,1,-1,-0.500000,0.909091
15048,15391,1469,7,124,2977,342,23,26,1,1,1,1,0.500000,0.851852
15051,15395,1469,172,20,175,121,10,10,-1,3,4,-2,-0.400000,0.909091
774,203,1469,172,26,175,121,10,10,0,2,3,1,0.250000,0.909091
645,175,1469,172,44,175,121,10,10,1,1,14,14,0.933333,0.909091
675,182,1470,172,19,175,121,10,10,1,1,19,15,0.750000,0.909091
646,175,1470,172,44,175,121,10,10,1,1,15,15,0.937500,0.909091
562,140,1476,134,93,140,69,17,19,1,1,14,14,0.933333,0.850000
676,182,1483,172,19,175,121,10,10,1,1,20,16,0.761905,0.909091
1430,442,1484,441,47,442,1,11,16,1,1,16,16,0.941176,0.647059
1380,425,1485,418,140,425,0,13,13,1,1,19,19,0.950000,0.928571
742,191,1491,137,494,191,0,40,53,1,1,52,52,0.981132,0.740741
1169,335,1496,328,360,335,716,21,26,1,1,24,24,0.960000,0.777778
743,191,1497,137,494,191,0,40,53,1,1,53,53,0.981481,0.740741
1170,335,1498,328,360,335,716,21,26,1,1,25,25,0.961538,0.777778
11,9,1501,3,25,109,431,26,30,1,1,9,9,0.900000,0.838710
429,93,1504,84,87,205,1,58,70,1,1,24,24,0.960000,0.816901

In [59]:
votes_com = pd.merge(a_groups_c, a_comments, how='left', on=['AnsId'],suffixes=['_vot', '_com'])
f = lambda df:pd.concat([df[cname] for cname in df.columns.values.tolist()]+[pd.Series(df['Age_vot']>=df['Age_com'],name='gt')],axis=1)
votes_com = votes_com.groupby(['AnsId']).apply(f)
votes_com.head(10)

,AnsId,Age_vot,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,CumVotes,CumScore,ReScore,QReScore,Age_com,gt
0,4,0,1,190,56,6,12,12,1,3,3,1,0.250000,0.923077,1,False
1,4,0,1,190,56,6,12,12,1,3,3,1,0.250000,0.923077,1,False
2,5381,0,5379,66,5380,0,2,2,2,2,2,2,0.666667,0.666667,NaN,False
3,5380,0,5379,43,5380,0,2,2,1,1,1,1,0.500000,0.666667,1,False
4,5380,0,5379,43,5380,0,2,2,1,1,1,1,0.500000,0.666667,1,False
5,5380,0,5379,43,5380,0,2,2,1,1,1,1,0.500000,0.666667,1,False
6,5380,0,5379,43,5380,0,2,2,1,1,1,1,0.500000,0.666667,1,False
7,5378,0,5377,51,5378,0,1,1,2,2,2,2,0.666667,0.500000,NaN,False
8,867,0,865,138,867,45,5,6,2,2,2,2,0.666667,0.714286,1,False
9,867,0,865,138,867,45,5,6,2,2,2,2,0.666667,0.714286,1,False

In [60]:
tmp_sum_com = votes_com.groupby(['AnsId','Age_vot']).apply(lambda df: sum(df['gt']))
tmp_sum_com.reset_index(drop=False).head(10)

   AnsId  Age_vot  0
0      4        0  0
1      4     1436  2
2      5        0  0
3      5      108  1
4      6        0  0
5      8        0  0
6      9        0  0
7      9       12  3
8      9      361  3
9      9      400  3

## First Time series cleaned (model for the number of votes)

In [108]:
votes_com_f = pd.merge(votes_com,tmp_sum_com.reset_index(drop=False),on=['AnsId','Age_vot'],how='inner')
votes_com_f.drop(votes_com_f.columns[[15]], axis=1, inplace=True)
votes_com_f.columns.values[15]='Comments'
votes_com_f = votes_com_f.drop_duplicates()
votes_com_f

,AnsId,Age_vot,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,CumVotes,CumScore,ReScore,QReScore,Age_com,Comments
0,4,0,1,190,56,6,12,12,1,3,3,1,0.250000,0.923077,1,0
2,5381,0,5379,66,5380,0,2,2,2,2,2,2,0.666667,0.666667,NaN,0
3,5380,0,5379,43,5380,0,2,2,1,1,1,1,0.500000,0.666667,1,0
7,5378,0,5377,51,5378,0,1,1,2,2,2,2,0.666667,0.500000,NaN,0
8,867,0,865,138,867,45,5,6,2,2,2,2,0.666667,0.714286,1,0
13,867,0,865,138,867,45,5,6,2,2,2,2,0.666667,0.714286,2,0
14,5375,0,5373,241,NaN,-1,2,2,1,1,1,1,0.500000,0.666667,1,0
15,5375,0,5373,241,NaN,-1,2,2,1,1,1,1,0.500000,0.666667,2,0
17,5368,0,5367,235,5368,0,0,2,1,1,1,1,0.500000,0.000000,1,0
18,5366,0,5365,38,5366,0,0,1,2,2,2,2,0.666667,0.000000,1,0
20,5363,0,5360,389,5363,3,3,4,1,1,1,1,0.500000,0.600000,1,0
21,5362,0,5360,44,5363,3,3,4,1,1,1,1,0.500000,0.600000,NaN,0
22,5359,0,5357,136,5359,0,2,3,2,2,2,2,0.666667,0.500000,1,0
23,5359,0,5357,136,5359,0,2,3,2,2,2,2,0.666667,0.500000,2,0
24,877,0,875,87,877,4,9,9,7,7,7,7,0.875000,0.900000,1,0
26,5358,0,5350,428,NaN,-1,4,6,2,2,2,2,0.666667,0.571429,NaN,0
27,5355,0,5354,116,NaN,-1,2,3,3,3,3,3,0.750000,0.500000,1,0
31,5355,0,5354,116,NaN,-1,2,3,3,3,3,3,0.750000,0.500000,2,0
33,5355,0,5354,116,NaN,-1,2,3,3,3,3,3,0.750000,0.500000,3,0
34,5355,0,5354,116,NaN,-1,2,3,3,3,3,3,0.750000,0.500000,36,0
35,879,0,875,59,877,4,9,9,4,4,4,4,0.800000,0.900000,NaN,0
36,880,0,873,448,880,0,5,5,5,5,5,5,0.833333,0.833333,NaN,0
37,5347,0,5344,124,NaN,-1,3,4,1,1,1,1,0.500000,0.600000,NaN,0
38,882,0,881,139,882,1,7,9,2,2,2,2,0.666667,0.700000,NaN,0
39,5340,0,5339,58,NaN,-1,1,1,1,1,1,1,0.500000,0.500000,NaN,0
40,5334,0,5333,213,5334,0,5,6,4,4,4,4,0.800000,0.714286,1,0
41,5328,0,5323,35,5335,1,2,2,1,1,1,1,0.500000,0.666667,2,0
44,5327,0,5323,13,5335,1,2,2,0,2,2,0,0.000000,0.666667,1,0
46,5327,0,5323,13,5335,1,2,2,0,2,2,0,0.000000,0.666667,2,0
47,5385,0,5377,126,5378,0,1,1,1,1,1,1,0.500000,0.500000,564,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36379,175,1469,172,44,175,121,10,10,1,1,14,14,0.933333,0.909091,1470,1
36380,182,1470,172,19,175,121,10,10,1,1,19,15,0.750000,0.909091,1,5
36385,175,1470,172,44,175,121,10,10,1,1,15,15,0.937500,0.909091,1,2
36386,175,1470,172,44,175,121,10,10,1,1,15,15,0.937500,0.909091,1470,2
36387,140,1476,134,93,140,69,17,19,1,1,14,14,0.933333,0.850000,1,7
36391,140,1476,134,93,140,69,17,19,1,1,14,14,0.933333,0.850000,1038,7
36392,140,1476,134,93,140,69,17,19,1,1,14,14,0.933333,0.850000,1317,7
36393,140,1476,134,93,140,69,17,19,1,1,14,14,0.933333,0.850000,1318,7
36394,182,1483,172,19,175,121,10,10,1,1,20,16,0.761905,0.909091,1,5
36399,442,1484,441,47,442,1,11,16,1,1,16,16,0.941176,0.647059,1,5
36400,442,1484,441,47,442,1,11,16,1,1,16,16,0.941176,0.647059,43,5
36401,442,1484,441,47,442,1,11,16,1,1,16,16,0.941176,0.647059,44,5
36402,442,1484,441,47,442,1,11,16,1,1,16,16,0.941176,0.647059,448,5
36403,442,1484,441,47,442,1,11,16,1,1,16,16,0.941176,0.647059,1351,5
36404,425,1485,418,140,425,0,13,13,1,1,19,19,0.950000,0.928571,1,1
36405,191,1491,137,494,191,0,40,53,1,1,52,52,0.981132,0.740741,1,7
36408,191,1491,137,494,191,0,40,53,1,1,52,52,0.981132,0.740741,84,7
36410,191,1491,137,494,191,0,40,53,1,1,52,52,0.981132,0.740741,140,7
36411,191,1491,137,494,191,0,40,53,1,1,52,52,0.981132,0.740741,1123,7
36412,335,1496,328,360,335,716,21,26,1,1,24,24,0.960000,0.777778,1173,1
36413,191,1497,137,494,191,0,40,53,1,1,53,53,0.981481,0.740741,1,7
36416,191,1497,137,494,191,0,40,53,1,1,53,53,0.981481,0.740741,84,7
36418,191,1497,137,494,191,0,40,53,1,1,53,53,0.981481,0.740741,140,7
36419,191,1497,137,494,191,0,40,53,1,1,53,53,0.981481,0.740741,1123,7
36420,335,1498,328,360,335,716,21,26,1,1,25,25,0.961538,0.777778,1173,1
36421,9,1501,3,25,109,431,26,30,1,1,9,9,0.900000,0.838710,1,3
36424,93,1504,84,87,205,1,58,70,1,1,24,24,0.960000,0.816901,1,8
36426,93,1504,84,87,205,1,58,70,1,1,24,24,0.960000,0.816901,56,8
36427,93,1504,84,87,205,1,58,70,1,1,24,24,0.960000,0.816901,169,8
36431,93,1504,84,87,205,1,58,70,1,1,24,24,0.960000,0.816901,1452,8

# Check inconsistent entries

In [109]:
votes_com_f[(votes_com_f['AnsId'].isnull()) | (votes_com_f['Age_vot'].isnull()) | (votes_com_f['Votes'].isnull()) | (votes_com_f['Score'].isnull()) | (votes_com_f['Comments'].isnull())]

Empty DataFrame
Columns: [AnsId, Age_vot, QuestionId, AnsWordCount, AcceptedAnsId, AcceptedAge, QScore, QVotes, Score, Votes, CumVotes, CumScore, ReScore, QReScore, Age_com, Comments]
Index: []

In [110]:
votes_com_f[votes_com_f.Age_vot < 0]

Empty DataFrame
Columns: [AnsId, Age_vot, QuestionId, AnsWordCount, AcceptedAnsId, AcceptedAge, QScore, QVotes, Score, Votes, CumVotes, CumScore, ReScore, QReScore, Age_com, Comments]
Index: []

In [111]:
votes_com_f[votes_com_f.CumScore>votes_com_f.CumVotes]

Empty DataFrame
Columns: [AnsId, Age_vot, QuestionId, AnsWordCount, AcceptedAnsId, AcceptedAge, QScore, QVotes, Score, Votes, CumVotes, CumScore, ReScore, QReScore, Age_com, Comments]
Index: []

In [112]:
#Accepted answers 687 and 990 didn't have acceptance dates registered?
votes_com_f[(votes_com_f['AcceptedAnsId'].notnull()) & (votes_com_f['AcceptedAge']<0)]

,AnsId,Age_vot,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,CumVotes,CumScore,ReScore,QReScore,Age_com,Comments
769,990,0,987,62,990,-1,6,6,1,1,1,1,0.500000,0.857143,1,0
772,990,0,987,62,990,-1,6,6,1,1,1,1,0.500000,0.857143,64,0
773,990,0,987,62,990,-1,6,6,1,1,1,1,0.500000,0.857143,70,0
774,990,0,987,62,990,-1,6,6,1,1,1,1,0.500000,0.857143,76,0
1933,687,0,686,31,687,-1,4,4,5,5,5,5,0.833333,0.800000,1,0
1939,688,0,686,26,687,-1,4,4,4,4,4,4,0.800000,0.800000,1,0
1942,689,0,686,48,687,-1,4,4,3,3,3,3,0.750000,0.800000,1,0
1947,690,0,686,39,687,-1,4,4,1,1,1,1,0.500000,0.800000,NaN,0
15927,687,4,686,31,687,-1,4,4,1,1,6,6,0.857143,0.800000,1,5
23652,687,35,686,31,687,-1,4,4,1,1,7,7,0.875000,0.800000,1,5
26246,990,121,987,62,990,-1,6,6,1,1,2,2,0.666667,0.857143,1,6
26249,990,121,987,62,990,-1,6,6,1,1,2,2,0.666667,0.857143,64,6
26250,990,121,987,62,990,-1,6,6,1,1,2,2,0.666667,0.857143,70,6
26251,990,121,987,62,990,-1,6,6,1,1,2,2,0.666667,0.857143,76,6
27757,2647,224,987,64,990,-1,6,6,2,2,2,2,0.666667,0.857143,NaN,0
28041,689,256,686,48,687,-1,4,4,1,1,4,4,0.800000,0.800000,1,4
29817,687,435,686,31,687,-1,4,4,1,1,8,8,0.888889,0.800000,1,5
31987,4708,748,987,152,990,-1,6,6,-1,1,1,-1,-0.500000,0.857143,NaN,0

## Calculate Rank

In [113]:
from itertools import izip
def rank_ans(df,score_only,re_score):
    rk_name = "ReScore_rank" if re_score else "AnsRank"
    def rank_iter():
        cache = {}
        accepted = 0
        for row in df.itertuples():
            if re_score:
                cache[row.AnsId] = row.ReScore
            else :
                cache[row.AnsId] = row.Score
            # rank, nb_ans
            if (not score_only) and row.AcceptedAge>-1 and (row.AnsId == row.AcceptedAnsId) and row.Age_vot >=row.AcceptedAge:
                accepted = 1
                if row.AnsId in cache:
                    del cache[row.AnsId]
                yield (1,len(cache)+accepted,row.Index)
            else :
                rank = sorted(cache, key= lambda k:cache[k],reverse=True).index(row.AnsId) + 1 + accepted
                yield (rank,len(cache)+accepted,row.Index)
            
    ranks, ans_counts, indices = izip(*list(rank_iter())) #TODO: optimize for the future
    return [pd.Series(ranks,name=rk_name, index=indices), pd.Series(ans_counts,name="Ans_count", index=indices)]

predictors = ['AnsId','Comments','AnsWordCount','AcceptedAnsId','Age_vot','Score','Votes','CumScore','CumVotes','QScore','QVotes','ReScore','QReScore','AnsRank','ReScore_rank']
get_ranks = lambda df,score_only=False,re_score=False: pd.concat([df[cname] for cname in df.columns.values.tolist() if cname in predictors] + rank_ans(df,score_only,re_score),axis=1)
sort_age_score = lambda df: df.sort_values(by=['Age_vot','Score'],ascending=[True,False])

## Base data for model

In [114]:
votes_com_f = votes_com_f.groupby(['QuestionId']).apply(lambda df: get_ranks(sort_age_score(df)))
votes_com_f = votes_com_f.reset_index(level=[0],drop=False)
votes_com_f = votes_com_f.groupby(['QuestionId']).apply(lambda df: get_ranks(sort_age_score(df),score_only=True,re_score=True))
votes_com_f = votes_com_f.reset_index(level=[0],drop=False)

votes_com_f['Pbias'] = 1.0/votes_com_f['AnsRank']
votes_com_f['DRank'] = votes_com_f['AnsRank'] - votes_com_f['ReScore_rank']
votes_com_f.head(20)

,QuestionId,AnsId,Age_vot,AnsWordCount,AcceptedAnsId,QScore,QVotes,Score,Votes,CumVotes,CumScore,ReScore,QReScore,Comments,AnsRank,ReScore_rank,Ans_count,Pbias,DRank
4226,1,56,0,201,56,12,12,2,2,2,2,0.666667,0.923077,0,1,1,1,1.000000,0
0,1,4,0,190,56,12,12,1,3,3,1,0.250000,0.923077,0,2,2,2,0.500000,0
5381,1,5,0,37,56,12,12,1,1,1,1,0.500000,0.923077,0,3,2,3,0.333333,1
10271,1,56,1,201,56,12,12,3,3,5,5,0.833333,0.923077,4,1,1,3,1.000000,0
10562,1,210,1,40,56,12,12,1,1,1,1,0.500000,0.923077,0,2,2,4,0.500000,0
16037,1,210,4,40,56,12,12,1,1,2,2,0.666667,0.923077,0,2,2,4,0.500000,0
16356,1,56,4,201,56,12,12,1,1,6,6,0.857143,0.923077,4,1,1,4,1.000000,0
19009,1,56,7,201,56,12,12,1,1,7,7,0.875000,0.923077,4,1,1,4,1.000000,0
26040,1,897,108,68,56,12,12,1,1,1,1,0.500000,0.923077,0,2,3,5,0.500000,-1
26035,1,5,108,37,56,12,12,-1,1,2,0,0.000000,0.923077,1,5,5,5,0.200000,0
26853,1,56,157,201,56,12,12,1,1,8,8,0.888889,0.923077,4,1,1,5,1.000000,0
33088,1,56,905,201,56,12,12,1,1,9,9,0.900000,0.923077,4,1,1,5,1.000000,0
33434,1,7030,951,145,56,12,12,1,1,1,1,0.500000,0.923077,1,5,4,6,0.200000,1
33435,1,7030,951,145,56,12,12,1,1,1,1,0.500000,0.923077,1,5,4,6,0.200000,1
34986,1,7030,1231,145,56,12,12,1,1,2,2,0.666667,0.923077,1,5,3,6,0.200000,2
34987,1,7030,1231,145,56,12,12,1,1,2,2,0.666667,0.923077,1,5,3,6,0.200000,2
35152,1,7030,1255,145,56,12,12,1,1,3,3,0.750000,0.923077,1,5,2,6,0.200000,3
35153,1,7030,1255,145,56,12,12,1,1,3,3,0.750000,0.923077,1,5,2,6,0.200000,3
35291,1,7030,1284,145,56,12,12,1,1,4,4,0.800000,0.923077,1,5,2,6,0.200000,3
35292,1,7030,1284,145,56,12,12,1,1,4,4,0.800000,0.923077,1,5,2,6,0.200000,3

In [115]:
votes = votes_com_f.reset_index(level=[0],drop=False)
votes[['Age_vot','AnsWordCount','Comments','Ans_count']].describe()

            Age_vot  AnsWordCount      Comments     Ans_count
count  23468.000000  23468.000000  23468.000000  23468.000000
mean     211.678797    143.299301      2.028720      2.717402
std      379.776249    150.011670      2.848235      2.062204
min        0.000000      3.000000      0.000000      1.000000
25%        1.000000     51.000000      0.000000      1.000000
50%        7.000000     97.000000      1.000000      2.000000
75%      227.000000    178.000000      3.000000      3.000000
max     1504.000000   2142.000000     18.000000     12.000000

In [186]:
votes['Ans_count'].value_counts().head(15)

1    5681
2    3850
3    1546
4     598
5     191
9      77
6      66
8      26
7      19
Name: Ans_count, dtype: int64

In [142]:
#votes = votes[ votes.age_vot>=3]
votes = votes[votes.Age_vot<=7]
votes[['Score','Votes','CumScore','CumVotes','QScore','QVotes','ReScore','QReScore','Ans_count','DRank']].describe()

,Score,Votes,CumScore,CumVotes,QScore,QVotes,ReScore,QReScore,Ans_count,DRank
count,12054.000000,12054.000000,12054.000000,12054.000000,12054.000000,12054.000000,12054.000000,12054.000000,12054.000000,12054.000000
mean,1.672557,1.785217,3.328688,3.495935,5.786959,6.913307,0.667193,0.668451,1.891156,0.069106
std,1.401087,1.323257,2.636213,2.570072,7.294079,8.808227,0.233378,0.220706,1.202724,0.596975
min,-3.000000,1.000000,-6.000000,1.000000,-7.000000,1.000000,-0.857143,-0.875000,1.000000,-5.000000
25%,1.000000,1.000000,1.000000,2.000000,2.000000,3.000000,0.500000,0.600000,1.000000,0.000000
50%,1.000000,1.000000,3.000000,3.000000,4.000000,5.000000,0.750000,0.750000,2.000000,0.000000
75%,2.000000,2.000000,5.000000,5.000000,7.000000,8.000000,0.833333,0.800000,2.000000,0.000000
max,12.000000,12.000000,18.000000,18.000000,58.000000,70.000000,0.947368,0.944444,9.000000,8.000000

In [118]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

# How does question quality relate to answer quality

In [119]:
one_ans = smf.ols(formula='QReScore ~ ReScore + C(AnsRank) - 1', data=votes[votes['Ans_count']==1])
re_one = one_ans.fit()
print re_one.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:               QReScore   R-squared:                       0.037
Model:                            OLS   Adj. R-squared:                  0.037
Method:                 Least Squares   F-statistic:                     218.3
Date:                Fri, 01 Apr 2016   Prob (F-statistic):           1.71e-48
Time:                        06:28:51   Log-Likelihood:                 214.23
No. Observations:                5681   AIC:                            -424.5
Df Residuals:                    5679   BIC:                            -411.2
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
C(AnsRank)[1]     0.4567      0.013     33.894      0.000         0.430     0.483
ReScore           0.2753      0.019     14.773      0.000         0.239     0.312
==============================================================================
Omnibus:                     2657.604   Durbin-Watson:                   0.814
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15956.703
Skew:                          -2.190   Prob(JB):                         0.00
Kurtosis:                       9.944   Cond. No.                         9.07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [120]:
two_ans = smf.ols(formula='QReScore ~ ReScore + C(AnsRank) - 1', data=votes[votes['Ans_count']==2])
re_two = two_ans.fit()
print re_two.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:               QReScore   R-squared:                       0.019
Model:                            OLS   Adj. R-squared:                  0.019
Method:                 Least Squares   F-statistic:                     37.93
Date:                Fri, 01 Apr 2016   Prob (F-statistic):           4.85e-17
Time:                        06:28:55   Log-Likelihood:                 510.14
No. Observations:                3850   AIC:                            -1014.
Df Residuals:                    3847   BIC:                            -995.5
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
C(AnsRank)[1]     0.5824      0.011     51.366      0.000         0.560     0.605
C(AnsRank)[2]     0.6012      0.009     66.853      0.000         0.584     0.619
ReScore           0.1186      0.014      8.709      0.000         0.092     0.145
==============================================================================
Omnibus:                     1846.238   Durbin-Watson:                   0.630
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            13158.841
Skew:                          -2.174   Prob(JB):                         0.00
Kurtosis:                      10.945   Cond. No.                         5.42
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [121]:
three_ans = smf.ols(formula='QVotes ~ CumVotes + C(AnsRank) - 1', data=votes[votes['Ans_count']==3])
re_three = three_ans.fit()
print re_three.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:                 QVotes   R-squared:                       0.134
Model:                            OLS   Adj. R-squared:                  0.133
Method:                 Least Squares   F-statistic:                     79.67
Date:                Fri, 01 Apr 2016   Prob (F-statistic):           6.46e-48
Time:                        06:28:56   Log-Likelihood:                -5253.4
No. Observations:                1546   AIC:                         1.051e+04
Df Residuals:                    1542   BIC:                         1.054e+04
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
C(AnsRank)[1]     3.7489      0.506      7.408      0.000         2.756     4.742
C(AnsRank)[2]     3.4219      0.426      8.032      0.000         2.586     4.258
C(AnsRank)[3]     4.5130      0.335     13.490      0.000         3.857     5.169
CumVotes          1.0633      0.073     14.524      0.000         0.920     1.207
==============================================================================
Omnibus:                     1048.200   Durbin-Watson:                   0.472
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15162.055
Skew:                           3.018   Prob(JB):                         0.00
Kurtosis:                      17.105   Cond. No.                         14.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [122]:
four_ans = smf.ols(formula='QReScore ~ ReScore + C(AnsRank) - 1', data=votes[votes['Ans_count']==4])
re_four = four_ans.fit()
print re_four.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:               QReScore   R-squared:                       0.073
Model:                            OLS   Adj. R-squared:                  0.066
Method:                 Least Squares   F-statistic:                     11.63
Date:                Fri, 01 Apr 2016   Prob (F-statistic):           4.28e-09
Time:                        06:29:00   Log-Likelihood:                 150.68
No. Observations:                 598   AIC:                            -291.4
Df Residuals:                     593   BIC:                            -269.4
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
C(AnsRank)[1]     0.5631      0.024     23.715      0.000         0.516     0.610
C(AnsRank)[2]     0.5973      0.024     25.161      0.000         0.551     0.644
C(AnsRank)[3]     0.6165      0.022     28.419      0.000         0.574     0.659
C(AnsRank)[4]     0.6399      0.017     36.824      0.000         0.606     0.674
ReScore           0.1610      0.025      6.572      0.000         0.113     0.209
==============================================================================
Omnibus:                      288.982   Durbin-Watson:                   0.614
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1972.127
Skew:                          -2.042   Prob(JB):                         0.00
Kurtosis:                      10.904   Cond. No.                         4.33
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [123]:
five_ans = smf.ols(formula='QReScore ~ ReScore + C(AnsRank) - 1', data=votes[votes['Ans_count']==5])
re_five = five_ans.fit()
print re_five.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:               QReScore   R-squared:                       0.102
Model:                            OLS   Adj. R-squared:                  0.078
Method:                 Least Squares   F-statistic:                     4.201
Date:                Fri, 01 Apr 2016   Prob (F-statistic):            0.00122
Time:                        06:29:02   Log-Likelihood:                 120.41
No. Observations:                 191   AIC:                            -228.8
Df Residuals:                     185   BIC:                            -209.3
Df Model:                           5
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
C(AnsRank)[1]     0.5596      0.035     16.175      0.000         0.491     0.628
C(AnsRank)[2]     0.5576      0.038     14.649      0.000         0.482     0.633
C(AnsRank)[3]     0.6374      0.041     15.424      0.000         0.556     0.719
C(AnsRank)[4]     0.6305      0.031     20.088      0.000         0.569     0.692
C(AnsRank)[5]     0.6328      0.027     23.815      0.000         0.580     0.685
ReScore           0.1392      0.040      3.505      0.001         0.061     0.218
==============================================================================
Omnibus:                        1.732   Durbin-Watson:                   0.593
Prob(Omnibus):                  0.421   Jarque-Bera (JB):                1.741
Skew:                          -0.169   Prob(JB):                        0.419
Kurtosis:                       2.676   Cond. No.                         6.37
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [124]:
print "Pearson r Score-position: ", votes['Score'].corr(votes['AnsRank'],method='pearson')

Pearson r Score-position:  -0.261224567951

## Mixed effects model for votes

In [105]:
formula = "np.log(Votes+1) ~ C(AnsRank) - 1"
model = sm.MixedLM.from_formula(formula, votes, re_formula="AnsRank", groups=votes["AnsId"])
result = model.fit()
print result.summary()

c:\Users\Joel\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\Users\Joel\Anaconda2\lib\site-packages\statsmodels\regression\mixed_linear_model.py:1717: ConvergenceWarning: The MLE may be on the boundary of the parameter space.
  warnings.warn(msg, ConvergenceWarning)

                Mixed Linear Model Regression Results
=====================================================================
Model:              MixedLM   Dependent Variable:   np.log(Votes + 1)
No. Observations:   12054     Method:               REML
No. Groups:         4594      Scale:                0.0965
Min. group size:    1         Likelihood:           -4144.6903
Max. group size:    70        Converged:            Yes
Mean group size:    2.6
---------------------------------------------------------------------
                          Coef.  Std.Err.    z    P>|z| [0.025 0.975]
---------------------------------------------------------------------
C(AnsRank)[1]              1.017    0.005 191.155 0.000  1.007  1.027
C(AnsRank)[2]              0.840    0.007 126.444 0.000  0.827  0.853
C(AnsRank)[3]              0.772    0.011  70.549 0.000  0.751  0.794
C(AnsRank)[4]              0.792    0.020  39.025 0.000  0.752  0.832
C(AnsRank)[5]              0.770    0.041  18.851 0.000  0.690  0.850
C(AnsRank)[6]              0.838    0.072  11.622 0.000  0.697  0.979
C(AnsRank)[7]              0.931    0.146   6.368 0.000  0.645  1.218
C(AnsRank)[8]              1.243    0.238   5.225 0.000  0.777  1.709
C(AnsRank)[9]              0.845    0.201   4.202 0.000  0.451  1.239
Intercept RE               0.079    0.020
Intercept RE x AnsRank RE -0.024    0.009
AnsRank RE                 0.007    0.004
=====================================================================

In [106]:
formula = "np.log(Votes+1) ~ C(AnsRank,Helmert) - 1"
model = sm.MixedLM.from_formula(formula, votes, re_formula="AnsRank", groups=votes["AnsId"])
result = model.fit()
print result.summary()

                    Mixed Linear Model Regression Results
============================================================================
Model:                 MixedLM     Dependent Variable:     np.log(Votes + 1)
No. Observations:      12054       Method:                 REML
No. Groups:            4594        Scale:                  0.0965
Min. group size:       1           Likelihood:             -4157.5194
Max. group size:       70          Converged:              Yes
Mean group size:       2.6
----------------------------------------------------------------------------
                                 Coef.  Std.Err.    z    P>|z| [0.025 0.975]
----------------------------------------------------------------------------
C(AnsRank, Helmert)[H.intercept]  0.893    0.045  19.996 0.000  0.805  0.981
C(AnsRank, Helmert)[H.2]         -0.089    0.004 -21.516 0.000 -0.097 -0.081
C(AnsRank, Helmert)[H.3]         -0.052    0.004 -13.306 0.000 -0.060 -0.044
C(AnsRank, Helmert)[H.4]         -0.021    0.005  -4.058 0.000 -0.031 -0.011
C(AnsRank, Helmert)[H.5]         -0.017    0.008  -2.076 0.038 -0.033 -0.001
C(AnsRank, Helmert)[H.6]         -0.000    0.012  -0.022 0.983 -0.024  0.023
C(AnsRank, Helmert)[H.7]          0.014    0.021   0.680 0.496 -0.027  0.055
C(AnsRank, Helmert)[H.8]          0.050    0.029   1.701 0.089 -0.008  0.107
C(AnsRank, Helmert)[H.9]         -0.009    0.022  -0.383 0.702 -0.053  0.035
Intercept RE                      0.079    0.020
Intercept RE x AnsRank RE        -0.024    0.009
AnsRank RE                        0.007    0.004
============================================================================

c:\Users\Joel\Anaconda2\lib\site-packages\statsmodels\regression\mixed_linear_model.py:1717: ConvergenceWarning: The MLE may be on the boundary of the parameter space.
  warnings.warn(msg, ConvergenceWarning)

In [107]:
formula = "np.log(Votes+1) ~ C(AnsRank,Diff) - 1"
model = sm.MixedLM.from_formula(formula, votes, re_formula="AnsRank", groups=votes["AnsId"])
result = model.fit()
print result.summary()

c:\Users\Joel\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\Users\Joel\Anaconda2\lib\site-packages\statsmodels\regression\mixed_linear_model.py:1717: ConvergenceWarning: The MLE may be on the boundary of the parameter space.
  warnings.warn(msg, ConvergenceWarning)

                Mixed Linear Model Regression Results
=====================================================================
Model:              MixedLM   Dependent Variable:   np.log(Votes + 1)
No. Observations:   12054     Method:               REML
No. Groups:         4594      Scale:                0.0965
Min. group size:    1         Likelihood:           -4144.7526
Max. group size:    70        Converged:            Yes
Mean group size:    2.6
---------------------------------------------------------------------
                          Coef.  Std.Err.    z    P>|z| [0.025 0.975]
---------------------------------------------------------------------
C(AnsRank, Diff)[D.1]      0.892    0.045  19.975 0.000  0.805  0.980
C(AnsRank, Diff)[D.2]     -0.177    0.008 -21.518 0.000 -0.194 -0.161
C(AnsRank, Diff)[D.3]     -0.067    0.013  -5.304 0.000 -0.092 -0.042
C(AnsRank, Diff)[D.4]      0.020    0.023   0.871 0.384 -0.025  0.065
C(AnsRank, Diff)[D.5]     -0.023    0.045  -0.499 0.618 -0.111  0.066
C(AnsRank, Diff)[D.6]      0.062    0.081   0.774 0.439 -0.096  0.221
C(AnsRank, Diff)[D.7]      0.137    0.160   0.856 0.392 -0.176  0.449
C(AnsRank, Diff)[D.8]      0.265    0.247   1.075 0.282 -0.218  0.748
C(AnsRank, Diff)[D.9]     -0.427    0.305  -1.397 0.162 -1.025  0.172
Intercept RE               0.079    0.020
Intercept RE x AnsRank RE -0.024    0.009
AnsRank RE                 0.007    0.004
=====================================================================

## OLS, Poisson, RobustLM

In [236]:
mod_ols = smf.ols(formula='np.log(Votes+1) ~ AnsRank + ReScore_rank - 1', data=votes[(votes.Ans_count<=4)])#&(votes.DRank==2)])
res = mod_ols.fit()
print res.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:      np.log(Votes + 1)   R-squared:                       0.669
Model:                            OLS   Adj. R-squared:                  0.669
Method:                 Least Squares   F-statistic:                 1.182e+04
Date:                Fri, 01 Apr 2016   Prob (F-statistic):               0.00
Time:                        07:29:38   Log-Likelihood:                -10310.
No. Observations:               11675   AIC:                         2.062e+04
Df Residuals:                   11673   BIC:                         2.064e+04
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------
AnsRank          0.1906      0.011     16.631      0.000         0.168     0.213
ReScore_rank     0.3549      0.012     29.537      0.000         0.331     0.378
==============================================================================
Omnibus:                       77.629   Durbin-Watson:                   1.171
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              117.186
Skew:                          -0.016   Prob(JB):                     3.58e-26
Kurtosis:                       3.490   Cond. No.                         6.59
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [35]:
mod_poi = smf.glm('Votes ~ Score + Ans_rank + AnsWordCount + Comments  + Ans_count - 1 ', data=votes,
                  family=sm.families.Poisson(link=sm.families.links.log)).fit(method='bfgs') #
#print mod_poi.mle_retvals['converged']
print mod_poi.summary()

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  Votes   No. Observations:                 9364
Model:                            GLM   Df Residuals:                     9359
Model Family:                 Poisson   Df Model:                            4
Link Function:                    log   Scale:                             1.0
Method:                          IRLS   Log-Likelihood:                -13488.
Date:                Sun, 20 Mar 2016   Deviance:                       6748.6
Time:                        06:55:20   Pearson chi2:                 6.14e+03
No. Iterations:                     8
================================================================================
                   coef    std err          z      P>|z|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------
Score            0.1245      0.003     48.930      0.000         0.120     0.130
Ans_rank         0.1981      0.011     17.433      0.000         0.176     0.220
AnsWordCount     0.0006   5.96e-05      9.745      0.000         0.000     0.001
Comments        -0.0716      0.006    -12.824      0.000        -0.083    -0.061
Ans_count       -0.1458      0.010    -14.190      0.000        -0.166    -0.126
================================================================================

In [19]:
huber_t = sm.RLM(np.log(votes.Votes + 1), votes[['age_vot','Score', 'Comments','Ans_rank','Ans_count']], M=sm.robust.norms.HuberT())
hub_results = huber_t.fit()

#print hub_results.params
#print hub_results.bse
#varnames = ['var_%d' % i for i in range(len(hub_results.params))]
print hub_results.summary()

                    Robust linear Model Regression Results
==============================================================================
Dep. Variable:                  Votes   No. Observations:                 2669
Model:                            RLM   Df Residuals:                     2664
Method:                          IRLS   Df Model:                            4
Norm:                          HuberT
Scale Est.:                       mad
Cov Type:                          H1
Date:                Thu, 17 Mar 2016
Time:                        04:50:12
No. Iterations:                    25
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
age_vot        0.0285      0.001     23.031      0.000         0.026     0.031
Score          0.0483      0.001     37.198      0.000         0.046     0.051
Comments       0.0165      0.002      8.456      0.000         0.013     0.020
Ans_rank       0.1539      0.005     32.435      0.000         0.145     0.163
Ans_count      0.0159      0.003      5.503      0.000         0.010     0.022
==============================================================================

If the model instance has been used for another fit with different fit
parameters, then the fit options might not be the correct ones anymore .