In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
questions = pd.DataFrame.from_csv('question_simple.csv', index_col=None)
questions.head()

,QuestionId,QuestionCreation,QuestionLastActivity,AcceptedAnsId,AcceptedDate,QScore,QVotes
0,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,12,12
1,2,2011-11-15T20:50:11.270,2011-12-02T11:38:48.620,10,2011-11-16T00:00:00.000,12,12
2,3,2011-11-15T20:52:27.287,2015-07-18T09:49:54.953,109,2013-01-19T00:00:00.000,26,30
3,7,2011-11-15T20:56:40.383,2015-11-23T12:25:29.887,2977,2012-10-22T00:00:00.000,23,26
4,14,2011-11-15T21:01:05.117,2015-08-13T13:14:56.870,20,2011-11-16T00:00:00.000,11,12

In [3]:
a_questions = pd.DataFrame.from_csv('question_votes.csv', index_col=None)
a_questions[a_questions.AcceptedAnsId.notnull()].head()

,QuestionId,QuestionCreation,QuestionLastActivity,AcceptedAnsId,AcceptedDate,VoteType,QVoteCreation
0,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2,2011-11-15T20:45:51.037
1,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2,2011-11-15T20:45:51.037
2,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2,2011-11-15T20:45:51.037
3,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2,2011-11-15T20:45:51.037
4,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2,2011-11-15T20:45:51.037

In [4]:
get_votes_qv = lambda df: pd.Series((df.VoteType==2).cumsum() + (df.VoteType==3).cumsum(),name='QVotes')
get_score_qv = lambda df: pd.Series((df.VoteType==2).cumsum() - (df.VoteType==3).cumsum(),name='QScore')

predictors_qvotes = ['QuestionId','QuestionCreation','QuestionLastActivity','AcceptedAnsId','AcceptedDate','QVoteCreation']
f_q = lambda df: pd.concat([df[cname] for cname in df.columns.values.tolist() if cname in predictors_qvotes]+[get_score_qv(df),get_votes_qv(df)],axis=1)
a_questions = a_questions.sort_values(by='QVoteCreation').groupby(['QuestionId']).apply(f_q)
a_questions.head(10)

,QuestionId,QuestionCreation,QuestionLastActivity,AcceptedAnsId,AcceptedDate,QVoteCreation,QScore,QVotes
0,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,1,1
11,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,2,2
10,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,3,3
9,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,4,4
7,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,5,5
6,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,6,6
8,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,7,7
4,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,8,8
3,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,9,9
2,1,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,10,10

In [6]:
a_votes = pd.DataFrame.from_csv('votes-answers.csv', index_col=None)
a_votes = pd.merge(a_votes, a_questions, how='inner', on=['QuestionId'],suffixes=['_v', '_q'])
a_votes.head()

,VoteId,VoteCreation,AnsCreation,VoteType,AnsId,QuestionId,AnsWordCount,QuestionCreation,QuestionLastActivity,AcceptedAnsId,AcceptedDate,QVoteCreation,QScore,QVotes
0,2,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,1,1
1,2,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,2,2
2,2,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,3,3
3,2,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,4,4
4,2,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,2015-10-21T09:57:50.000,56,2011-11-21T00:00:00.000,2011-11-15T20:45:51.037,5,5

In [7]:
predictors_raw_votans =['VoteId','VoteCreation','AnsCreation','VoteType','AnsId','QuestionId','AnsWordCount','QuestionCreation','AcceptedAnsId','AcceptedDate']

valid_qavotes = lambda df: df[df.VoteCreation>=df.QVoteCreation]
#Use twice valid_qavotes, could use once to improve efficiency, but check correctness of index selection
get_max_qv = lambda df: valid_qavotes(df).loc[valid_qavotes(df).QVotes.idxmax(),['QScore','QVotes']].squeeze()
get_latest_qv = lambda df : pd.Series([0,0],index=['QScore','QVotes']) if not (df.VoteCreation>=df.QVoteCreation).any() else get_max_qv(df)
get_head = lambda df: [df[cname].iloc[0] for cname in df.columns.values.tolist() if cname in predictors_raw_votans]
get_qv = lambda df : pd.Series(get_head(df),index=predictors_raw_votans).append(get_latest_qv(df)).to_frame()

a_votes = a_votes.sort_values(by='VoteCreation').groupby(['VoteId']).apply(get_qv).unstack(level=-1).reset_index(level=[0],drop=True)
a_votes.drop(a_votes.columns[[0]], axis=1, inplace=True)
a_votes.columns = a_votes.columns.droplevel()
a_votes.head()

,VoteCreation,AnsCreation,VoteType,AnsId,QuestionId,AnsWordCount,QuestionCreation,AcceptedAnsId,AcceptedDate,QScore,QVotes
0,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,56,2011-11-21T00:00:00.000,0,0
1,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,2,4,1,190,2011-11-15T20:45:51.037,56,2011-11-21T00:00:00.000,0,0
2,2011-11-15T00:00:00.000,2011-11-15T20:54:09.083,2,5,1,37,2011-11-15T20:45:51.037,56,2011-11-21T00:00:00.000,0,0
3,2011-11-15T00:00:00.000,2011-11-15T20:53:36.853,3,4,1,190,2011-11-15T20:45:51.037,56,2011-11-21T00:00:00.000,0,0
4,2011-11-15T00:00:00.000,2011-11-15T20:54:49.410,2,6,2,51,2011-11-15T20:50:11.270,10,2011-11-16T00:00:00.000,0,0

In [8]:
a_votes['AcceptedDate'].fillna(pd.to_datetime('20160320'),inplace=True) #Date After Data Set Collection
a_votes['AcceptedAge'] = (pd.to_datetime(a_votes.AcceptedDate,format='%Y-%m-%d %H:%M:%S.%f')
                  -pd.to_datetime(a_votes.QuestionCreation,format='%Y-%m-%d %H:%M:%S.%f')).apply(lambda x: x.astype('timedelta64[D]').item().days)
a_votes['AcceptedAge'] = a_votes['AcceptedAge'] + 1

a_votes.loc[a_votes.AcceptedDate == pd.to_datetime('20160320'), 'AcceptedAge'] = -1

a_votes['RelAge'] = (pd.to_datetime(a_votes.VoteCreation,format='%Y-%m-%d %H:%M:%S.%f')
                  -pd.to_datetime(a_votes.AnsCreation,format='%Y-%m-%d %H:%M:%S.%f')).apply(lambda x: x.astype('timedelta64[D]').item().days)
a_votes['RelAge'] = a_votes['RelAge'] + 1

a_votes['Age'] = (pd.to_datetime(a_votes.VoteCreation,format='%Y-%m-%d %H:%M:%S.%f')
                  -pd.to_datetime(a_votes.QuestionCreation,format='%Y-%m-%d %H:%M:%S.%f')).apply(lambda x: x.astype('timedelta64[D]').item().days)
a_votes['Age'] = a_votes['Age'] + 1
a_votes.drop(a_votes.columns[[0, 1, 6, 8]], axis=1, inplace=True)
a_votes

,VoteType,AnsId,QuestionId,AnsWordCount,AcceptedAnsId,QScore,QVotes,AcceptedAge,RelAge,Age
0,2,4,1,190,56,0,0,6,0,0
1,2,4,1,190,56,0,0,6,0,0
2,2,5,1,37,56,0,0,6,0,0
3,3,4,1,190,56,0,0,6,0,0
4,2,6,2,51,10,0,0,1,0,0
5,2,10,2,145,10,0,0,1,0,0
6,2,13,2,89,10,0,0,1,0,0
7,2,8,2,46,10,0,0,1,0,0
8,2,13,2,89,10,0,0,1,0,0
9,2,10,2,145,10,0,0,1,0,0
10,2,9,3,25,109,0,0,431,0,0
11,2,13,2,89,10,0,0,1,0,0
12,2,16,7,45,2977,0,0,342,0,0
13,2,20,14,28,20,0,0,1,0,0
14,2,16,7,45,2977,0,0,342,0,0
15,2,16,7,45,2977,0,0,342,0,0
16,2,20,14,28,20,0,0,1,0,0
17,2,23,14,35,20,0,0,1,0,0
18,2,20,14,28,20,0,0,1,0,0
19,2,23,14,35,20,0,0,1,0,0
20,2,24,18,24,33,0,0,1,0,0
21,2,20,14,28,20,0,0,1,0,0
22,2,23,14,35,20,0,0,1,0,0
23,2,11,3,47,109,0,0,431,0,0
24,2,20,14,28,20,0,0,1,0,0
25,2,27,25,59,67,0,0,2,0,0
26,2,33,18,133,33,0,0,1,0,0
27,2,24,18,24,33,0,0,1,0,0
28,2,33,18,133,33,0,0,1,0,0
29,2,33,18,133,33,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
21977,2,4603,4581,285,4585,0,4,2,747,748
21978,2,4582,4581,16,4585,0,4,2,748,748
21979,2,4665,4664,81,4670,2,2,1,737,737
21980,2,4706,4705,47,4740,1,1,11,732,732
21981,2,4791,4705,42,4740,1,1,11,721,732
21982,2,4731,4730,97,4739,0,2,1,730,730
21983,3,4709,4700,42,4709,4,4,0,732,732
21984,2,4703,4700,63,4709,4,4,0,732,732
21985,2,4747,4700,62,4709,4,4,0,729,732
21986,2,4702,4700,48,4709,4,4,0,732,732
21987,2,15354,4700,30,4709,4,4,0,44,732
21988,2,4568,4566,64,4567,3,3,0,749,749
21989,2,4567,4566,51,4567,3,3,0,749,749
21990,2,15677,15670,116,15675,0,0,2,0,0
21991,2,15676,15664,163,15665,2,2,2,1,3
21992,2,15672,15670,416,15675,1,1,2,1,1
21993,2,15672,15670,416,15675,1,1,2,2,2
21994,2,15689,15684,95,15689,1,1,1,0,1
21995,2,15689,15684,95,15689,1,1,1,0,1
21996,3,15685,2536,8,2538,7,7,8,0,1275
21997,2,15669,15667,462,15669,4,4,1,4,4
21998,2,15700,15699,335,15700,0,0,1,0,0
21999,2,15663,15662,60,NaN,0,2,-1,5,5
22000,2,15695,15691,283,15695,1,1,1,1,1
22001,2,15694,15691,221,15695,1,1,1,1,1
22002,2,15700,15699,335,15700,0,0,1,0,0
22003,2,15650,15649,92,15650,1,1,2,6,6
22004,2,15552,15549,48,NaN,11,11,-1,19,19
22005,2,15552,15549,48,NaN,11,11,-1,20,20
22006,2,15700,15699,335,15700,2,2,1,1,1

In [9]:
a_comments = pd.DataFrame.from_csv('comment-ans.csv', index_col=None)
a_comments = pd.merge(a_comments, questions, how='inner', on=['QuestionId'],suffixes=['_vot', '_quest'])

a_comments['Age'] = (pd.to_datetime(a_comments.CommentCreation,format='%Y-%m-%d %H:%M:%S.%f')
                  -pd.to_datetime(a_comments.QuestionCreation,format='%Y-%m-%d %H:%M:%S.%f')).apply(lambda x: x.astype('timedelta64[D]').item().days)
a_comments['Age'] = a_comments['Age'] + 1
a_comments = a_comments[['AnsId','Age']]
a_comments.head(10)

   AnsId   Age
0      4     1
1      4     1
2      5     1
3     56     1
4     56     1
5     56     1
6     56     1
7   7030   951
8   7030  1285
9  15104  1436

## Each entry in the following tables represents the total votes in an answer in a given day (and associated attributes for the answer and question)

In [10]:
get_score = lambda df: sum(df.VoteType==2) - sum(df.VoteType==3)
get_votes = lambda df: sum(df.VoteType==2) + sum(df.VoteType==3)

predictors = ['QuestionId','AnsWordCount','AcceptedAnsId','AcceptedAge','QScore','QVotes','Score','Votes','Upvotes','Downvotes']
f = lambda df: pd.Series([df.QuestionId.iloc[0],df.AnsWordCount.iloc[0],df.AcceptedAnsId.iloc[0],df.AcceptedAge.iloc[0],
                          df.QScore.iloc[0],df.QVotes.iloc[0],get_score(df),get_votes(df),sum(df.VoteType==2),sum(df.VoteType==3)],index = predictors)
a_groups = a_votes.sort_values(by='Age').groupby(['AnsId','Age']).apply(f)
a_groups = a_groups.reset_index(level=[0,1],drop=False)
a_groups.head()

,AnsId,Age,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,Upvotes,Downvotes
0,4,0,1,190,56,6,0,0,1,3,2,1
1,4,1436,1,190,56,6,12,12,1,1,1,0
2,5,0,1,37,56,6,0,0,1,1,1,0
3,5,108,1,37,56,6,12,12,-1,1,0,1
4,6,0,2,51,10,1,0,0,1,1,1,0

In [12]:
cum_votes = lambda df: pd.Series(df['Votes'].cumsum() - df['Votes'],name='CumVotes')
cum_score = lambda df: pd.Series(df['Score'].cumsum() - df['Score'],name='CumScore')

f =lambda df: pd.concat([df[cname] for cname in df.columns.values.tolist()] + [cum_votes(df),cum_score(df)],axis=1)
a_groups_c = a_groups.sort_values(by='Age').groupby(['AnsId']).apply(f)
a_groups_c

,AnsId,Age,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,Upvotes,Downvotes,CumVotes,CumScore
0,4,0,1,190,56,6,0,0,1,3,2,1,0,0
9873,5380,0,5379,43,5380,0,0,0,1,1,1,0,0,0
9872,5378,0,5377,51,5378,0,0,0,2,2,2,0,0,0
9868,5375,0,5373,241,NaN,-1,0,0,1,1,1,0,0,0
2475,858,0,857,91,858,39,0,0,3,3,3,0,0,0
9857,5368,0,5367,235,5368,0,0,0,1,1,1,0,0,0
9852,5363,0,5360,389,5363,3,0,0,1,1,1,0,0,0
9851,5362,0,5360,44,5363,3,0,0,1,1,1,0,0,0
9849,5359,0,5357,136,5359,0,0,0,2,2,2,0,0,0
9844,5358,0,5350,428,NaN,-1,0,0,2,2,2,0,0,0
2484,860,0,857,82,858,39,0,0,1,1,1,0,0,0
9840,5355,0,5354,116,NaN,-1,0,0,3,3,3,0,0,0
9832,5347,0,5344,124,NaN,-1,0,0,1,1,1,0,0,0
9829,5340,0,5339,58,NaN,-1,0,0,1,1,1,0,0,0
9820,5334,0,5333,213,5334,0,0,0,4,4,4,0,0,0
9813,5328,0,5323,35,5335,1,0,0,1,1,1,0,0,0
9810,5327,0,5323,13,5335,1,0,0,0,2,1,1,0,0
2499,867,0,865,138,867,45,0,0,2,2,2,0,0,0
9803,5326,0,5325,311,5326,8,0,0,1,1,1,0,0,0
9802,5324,0,5323,33,5335,1,0,0,3,3,3,0,0,0
9800,5321,0,5320,93,5321,0,0,0,7,7,7,0,0,0
9793,5317,0,5315,89,5316,1,0,0,1,1,1,0,0,0
2467,855,0,854,138,855,75,0,0,2,2,2,0,0,0
9788,5316,0,5315,85,5316,1,0,0,3,3,3,0,0,0
9875,5381,0,5379,66,5380,0,0,0,2,2,2,0,0,0
2463,852,0,848,8,853,1,0,0,1,1,1,0,0,0
9932,5439,0,5437,118,5439,0,0,0,1,1,1,0,0,0
2436,841,0,839,115,841,1,0,0,1,1,1,0,0,0
9929,5435,0,5432,71,5435,0,0,0,4,4,4,0,0,0
2440,843,0,842,57,843,0,0,0,5,5,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6153,2846,1453,38,126,2846,306,22,22,1,1,1,0,12,12
1519,467,1453,463,49,465,10,7,7,1,1,1,0,8,8
628,166,1453,108,182,166,5,33,33,1,1,1,0,26,26
428,93,1454,84,87,205,1,58,62,1,1,1,0,22,22
7659,3774,1454,446,92,448,24,7,7,1,1,1,0,2,2
1429,442,1454,441,47,442,1,11,11,1,1,1,0,14,14
1459,449,1454,441,19,442,1,11,11,1,1,1,0,7,5
1441,444,1454,441,33,442,1,11,11,1,1,1,0,10,10
1660,519,1457,513,303,2323,192,41,41,1,1,1,0,33,31
2229,751,1459,694,71,696,1,17,17,1,1,1,0,3,3
2150,718,1459,694,83,696,1,17,17,1,1,1,0,5,5
6603,3079,1465,319,61,337,16,9,9,1,1,1,0,3,3
826,205,1465,84,385,205,1,58,62,1,1,1,0,61,55
14946,15395,1468,172,20,175,121,10,10,-1,1,0,1,0,0
14947,15395,1469,172,20,175,121,10,10,-1,3,1,2,1,-1
14944,15391,1469,7,124,2977,342,23,23,1,1,1,0,0,0
774,203,1469,172,26,175,121,10,10,0,2,1,1,1,1
645,175,1469,172,44,175,121,10,10,1,1,1,0,13,13
646,175,1470,172,44,175,121,10,10,1,1,1,0,14,14
675,182,1470,172,19,175,121,10,10,1,1,1,0,18,14
562,140,1476,134,93,140,69,17,17,1,1,1,0,13,13
676,182,1483,172,19,175,121,10,10,1,1,1,0,19,15
1430,442,1484,441,47,442,1,11,11,1,1,1,0,15,15
1380,425,1485,418,140,425,0,13,13,1,1,1,0,18,18
742,191,1491,137,494,191,0,40,40,1,1,1,0,51,51
1169,335,1496,328,360,335,716,21,21,1,1,1,0,23,23
743,191,1497,137,494,191,0,40,40,1,1,1,0,52,52
1170,335,1498,328,360,335,716,21,21,1,1,1,0,24,24
11,9,1501,3,25,109,431,26,26,1,1,1,0,8,8
429,93,1504,84,87,205,1,58,62,1,1,1,0,23,23

In [ ]:
## SHOULD RETURN 0,3
tt = a_groups_c.groupby(['AnsId','Age_vot']).Votes.count().reset_index(level=[0,1],drop=False)
tt[tt.Votes>1].shape

In [13]:
a_groups_c['ReScore'] = a_groups_c['CumScore']/(a_groups_c['CumVotes']+1.0)
a_groups_c['QReScore'] = a_groups_c['QScore']/(a_groups_c['QVotes']+1.0)
#votes['TScore'] = np.power(votes['Score'],votes['age_vot'])
a_groups_c.head()

,AnsId,Age,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,Upvotes,Downvotes,CumVotes,CumScore,ReScore,QReScore
0,4,0,1,190,56,6,0,0,1,3,2,1,0,0,0,0
9873,5380,0,5379,43,5380,0,0,0,1,1,1,0,0,0,0,0
9872,5378,0,5377,51,5378,0,0,0,2,2,2,0,0,0,0,0
9868,5375,0,5373,241,NaN,-1,0,0,1,1,1,0,0,0,0,0
2475,858,0,857,91,858,39,0,0,3,3,3,0,0,0,0,0

In [14]:
votes_com = pd.merge(a_groups_c, a_comments, how='left', on=['AnsId'],suffixes=['_vot', '_com'])
f = lambda df:pd.concat([df[cname] for cname in df.columns.values.tolist()]+[pd.Series(df['Age_vot']>=df['Age_com'],name='gt')],axis=1)
votes_com = votes_com.groupby(['AnsId']).apply(f)
votes_com.head(10)

,AnsId,Age_vot,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,Upvotes,Downvotes,CumVotes,CumScore,ReScore,QReScore,Age_com,gt
0,4,0,1,190,56,6,0,0,1,3,2,1,0,0,0,0,1,False
1,4,0,1,190,56,6,0,0,1,3,2,1,0,0,0,0,1,False
2,5380,0,5379,43,5380,0,0,0,1,1,1,0,0,0,0,0,1,False
3,5380,0,5379,43,5380,0,0,0,1,1,1,0,0,0,0,0,1,False
4,5380,0,5379,43,5380,0,0,0,1,1,1,0,0,0,0,0,1,False
5,5380,0,5379,43,5380,0,0,0,1,1,1,0,0,0,0,0,1,False
6,5378,0,5377,51,5378,0,0,0,2,2,2,0,0,0,0,0,NaN,False
7,5375,0,5373,241,NaN,-1,0,0,1,1,1,0,0,0,0,0,1,False
8,5375,0,5373,241,NaN,-1,0,0,1,1,1,0,0,0,0,0,2,False
9,5375,0,5373,241,NaN,-1,0,0,1,1,1,0,0,0,0,0,2,False

In [ ]:
## SHOULD RETURN 0,3
tt = votes_com.groupby(['AnsId','Age_vot']).Votes.count().reset_index(level=[0,1],drop=False)
tt[tt.Votes>1].shape

In [15]:
tmp_sum_com = votes_com.groupby(['AnsId','Age_vot']).apply(lambda df: sum(df['gt']))
tmp_sum_com.reset_index(drop=False).head(10)

   AnsId  Age_vot  0
0      4        0  0
1      4     1436  2
2      5        0  0
3      5      108  1
4      6        0  0
5      8        0  0
6      9        0  0
7      9       12  3
8      9      361  3
9      9      400  3

## First Time series cleaned (model for the number of votes)

In [16]:
votes_com_f = pd.merge(votes_com,tmp_sum_com.reset_index(drop=False),on=['AnsId','Age_vot'],how='inner')
votes_com_f.drop(votes_com_f.columns[[17]], axis=1, inplace=True)
votes_com_f.columns.values[17]='Comments'
votes_com_f = votes_com_f.drop_duplicates()
votes_com_f

,AnsId,Age_vot,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,Upvotes,Downvotes,CumVotes,CumScore,ReScore,QReScore,Age_com,Comments
0,4,0,1,190,56,6,0,0,1,3,2,1,0,0,0.000000,0.000000,1,0
2,5380,0,5379,43,5380,0,0,0,1,1,1,0,0,0,0.000000,0.000000,1,0
6,5378,0,5377,51,5378,0,0,0,2,2,2,0,0,0,0.000000,0.000000,NaN,0
7,5375,0,5373,241,NaN,-1,0,0,1,1,1,0,0,0,0.000000,0.000000,1,0
8,5375,0,5373,241,NaN,-1,0,0,1,1,1,0,0,0,0.000000,0.000000,2,0
10,858,0,857,91,858,39,0,0,3,3,3,0,0,0,0.000000,0.000000,1,0
15,858,0,857,91,858,39,0,0,3,3,3,0,0,0,0.000000,0.000000,4,0
17,5368,0,5367,235,5368,0,0,0,1,1,1,0,0,0,0.000000,0.000000,1,0
18,5363,0,5360,389,5363,3,0,0,1,1,1,0,0,0,0.000000,0.000000,1,0
19,5362,0,5360,44,5363,3,0,0,1,1,1,0,0,0,0.000000,0.000000,NaN,0
20,5359,0,5357,136,5359,0,0,0,2,2,2,0,0,0,0.000000,0.000000,1,0
21,5359,0,5357,136,5359,0,0,0,2,2,2,0,0,0,0.000000,0.000000,2,0
22,5358,0,5350,428,NaN,-1,0,0,2,2,2,0,0,0,0.000000,0.000000,NaN,0
23,860,0,857,82,858,39,0,0,1,1,1,0,0,0,0.000000,0.000000,1,0
25,860,0,857,82,858,39,0,0,1,1,1,0,0,0,0.000000,0.000000,2,0
26,5355,0,5354,116,NaN,-1,0,0,3,3,3,0,0,0,0.000000,0.000000,1,0
30,5355,0,5354,116,NaN,-1,0,0,3,3,3,0,0,0,0.000000,0.000000,2,0
32,5355,0,5354,116,NaN,-1,0,0,3,3,3,0,0,0,0.000000,0.000000,3,0
33,5355,0,5354,116,NaN,-1,0,0,3,3,3,0,0,0,0.000000,0.000000,36,0
34,5347,0,5344,124,NaN,-1,0,0,1,1,1,0,0,0,0.000000,0.000000,NaN,0
35,5340,0,5339,58,NaN,-1,0,0,1,1,1,0,0,0,0.000000,0.000000,NaN,0
36,5334,0,5333,213,5334,0,0,0,4,4,4,0,0,0,0.000000,0.000000,1,0
37,5328,0,5323,35,5335,1,0,0,1,1,1,0,0,0,0.000000,0.000000,2,0
40,5327,0,5323,13,5335,1,0,0,0,2,1,1,0,0,0.000000,0.000000,1,0
42,5327,0,5323,13,5335,1,0,0,0,2,1,1,0,0,0.000000,0.000000,2,0
43,867,0,865,138,867,45,0,0,2,2,2,0,0,0,0.000000,0.000000,1,0
48,867,0,865,138,867,45,0,0,2,2,2,0,0,0,0.000000,0.000000,2,0
49,5326,0,5325,311,5326,8,0,0,1,1,1,0,0,0,0.000000,0.000000,NaN,0
50,5324,0,5323,33,5335,1,0,0,3,3,3,0,0,0,0.000000,0.000000,1,0
53,5321,0,5320,93,5321,0,0,0,7,7,7,0,0,0,0.000000,0.000000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36159,175,1469,172,44,175,121,10,10,1,1,1,0,13,13,0.928571,0.909091,1470,1
36160,175,1470,172,44,175,121,10,10,1,1,1,0,14,14,0.933333,0.909091,1,2
36161,175,1470,172,44,175,121,10,10,1,1,1,0,14,14,0.933333,0.909091,1470,2
36162,182,1470,172,19,175,121,10,10,1,1,1,0,18,14,0.736842,0.909091,1,5
36167,140,1476,134,93,140,69,17,17,1,1,1,0,13,13,0.928571,0.944444,1,7
36171,140,1476,134,93,140,69,17,17,1,1,1,0,13,13,0.928571,0.944444,1038,7
36172,140,1476,134,93,140,69,17,17,1,1,1,0,13,13,0.928571,0.944444,1317,7
36173,140,1476,134,93,140,69,17,17,1,1,1,0,13,13,0.928571,0.944444,1318,7
36174,182,1483,172,19,175,121,10,10,1,1,1,0,19,15,0.750000,0.909091,1,5
36179,442,1484,441,47,442,1,11,11,1,1,1,0,15,15,0.937500,0.916667,1,5
36180,442,1484,441,47,442,1,11,11,1,1,1,0,15,15,0.937500,0.916667,43,5
36181,442,1484,441,47,442,1,11,11,1,1,1,0,15,15,0.937500,0.916667,44,5
36182,442,1484,441,47,442,1,11,11,1,1,1,0,15,15,0.937500,0.916667,448,5
36183,442,1484,441,47,442,1,11,11,1,1,1,0,15,15,0.937500,0.916667,1351,5
36184,425,1485,418,140,425,0,13,13,1,1,1,0,18,18,0.947368,0.928571,1,1
36185,191,1491,137,494,191,0,40,40,1,1,1,0,51,51,0.980769,0.975610,1,7
36188,191,1491,137,494,191,0,40,40,1,1,1,0,51,51,0.980769,0.975610,84,7
36190,191,1491,137,494,191,0,40,40,1,1,1,0,51,51,0.980769,0.975610,140,7
36191,191,1491,137,494,191,0,40,40,1,1,1,0,51,51,0.980769,0.975610,1123,7
36192,335,1496,328,360,335,716,21,21,1,1,1,0,23,23,0.958333,0.954545,1173,1
36193,191,1497,137,494,191,0,40,40,1,1,1,0,52,52,0.981132,0.975610,1,7
36196,191,1497,137,494,191,0,40,40,1,1,1,0,52,52,0.981132,0.975610,84,7
36198,191,1497,137,494,191,0,40,40,1,1,1,0,52,52,0.981132,0.975610,140,7
36199,191,1497,137,494,191,0,40,40,1,1,1,0,52,52,0.981132,0.975610,1123,7
36200,335,1498,328,360,335,716,21,21,1,1,1,0,24,24,0.960000,0.954545,1173,1
36201,9,1501,3,25,109,431,26,26,1,1,1,0,8,8,0.888889,0.962963,1,3
36204,93,1504,84,87,205,1,58,62,1,1,1,0,23,23,0.958333,0.920635,1,8
36206,93,1504,84,87,205,1,58,62,1,1,1,0,23,23,0.958333,0.920635,56,8
36207,93,1504,84,87,205,1,58,62,1,1,1,0,23,23,0.958333,0.920635,169,8
36211,93,1504,84,87,205,1,58,62,1,1,1,0,23,23,0.958333,0.920635,1452,8

In [27]:
#SHOULD BE NULL
tt = votes_com_f.groupby(['AnsId','Age_vot']).Votes.count().reset_index(level=[0,1],drop=False)
tt[tt.Votes>1].shape

(4438, 3)

# Check inconsistent entries

In [20]:
votes_com_f[(votes_com_f['AnsId'].isnull()) | (votes_com_f['Age_vot'].isnull()) | (votes_com_f['Votes'].isnull()) | (votes_com_f['Score'].isnull()) | (votes_com_f['Comments'].isnull())]

Empty DataFrame
Columns: [AnsId, Age_vot, QuestionId, AnsWordCount, AcceptedAnsId, AcceptedAge, QScore, QVotes, Score, Votes, Upvotes, Downvotes, CumVotes, CumScore, ReScore, QReScore, Age_com, Comments]
Index: []

In [21]:
votes_com_f[votes_com_f.Age_vot < 0]

Empty DataFrame
Columns: [AnsId, Age_vot, QuestionId, AnsWordCount, AcceptedAnsId, AcceptedAge, QScore, QVotes, Score, Votes, Upvotes, Downvotes, CumVotes, CumScore, ReScore, QReScore, Age_com, Comments]
Index: []

In [22]:
votes_com_f[votes_com_f.CumScore>votes_com_f.CumVotes]

Empty DataFrame
Columns: [AnsId, Age_vot, QuestionId, AnsWordCount, AcceptedAnsId, AcceptedAge, QScore, QVotes, Score, Votes, Upvotes, Downvotes, CumVotes, CumScore, ReScore, QReScore, Age_com, Comments]
Index: []

In [24]:
#Accepted answers 687 and 990 didn't have acceptance dates registered?
votes_com_f[(votes_com_f['AcceptedAnsId'].notnull()) & (votes_com_f['AcceptedAge']<0)]

,AnsId,Age_vot,QuestionId,AnsWordCount,AcceptedAnsId,AcceptedAge,QScore,QVotes,Score,Votes,Upvotes,Downvotes,CumVotes,CumScore,ReScore,QReScore,Age_com,Comments
886,990,0,987,62,990,-1,0,0,1,1,1,0,0,0,0.000000,0.000000,1,0
889,990,0,987,62,990,-1,0,0,1,1,1,0,0,0,0.000000,0.000000,64,0
890,990,0,987,62,990,-1,0,0,1,1,1,0,0,0,0.000000,0.000000,70,0
891,990,0,987,62,990,-1,0,0,1,1,1,0,0,0,0.000000,0.000000,76,0
1824,687,0,686,31,687,-1,0,0,5,5,5,0,0,0,0.000000,0.000000,1,0
1830,688,0,686,26,687,-1,0,0,4,4,4,0,0,0,0.000000,0.000000,1,0
1833,689,0,686,48,687,-1,0,0,3,3,3,0,0,0,0.000000,0.000000,1,0
1837,690,0,686,39,687,-1,0,0,1,1,1,0,0,0,0.000000,0.000000,NaN,0
16312,687,4,686,31,687,-1,4,4,1,1,1,0,5,5,0.833333,0.800000,1,5
23422,687,35,686,31,687,-1,4,4,1,1,1,0,6,6,0.857143,0.800000,1,5
26050,990,121,987,62,990,-1,6,6,1,1,1,0,1,1,0.500000,0.857143,1,6
26053,990,121,987,62,990,-1,6,6,1,1,1,0,1,1,0.500000,0.857143,64,6
26054,990,121,987,62,990,-1,6,6,1,1,1,0,1,1,0.500000,0.857143,70,6
26055,990,121,987,62,990,-1,6,6,1,1,1,0,1,1,0.500000,0.857143,76,6
27552,2647,224,987,64,990,-1,6,6,2,2,2,0,0,0,0.000000,0.857143,NaN,0
27824,689,256,686,48,687,-1,4,4,1,1,1,0,3,3,0.750000,0.800000,1,4
29600,687,435,686,31,687,-1,4,4,1,1,1,0,7,7,0.875000,0.800000,1,5
31772,4708,748,987,152,990,-1,6,6,-1,1,0,1,0,0,0.000000,0.857143,NaN,0

## Calculate Rank

In [27]:
from itertools import izip
def rank_ans(df,score_only,re_score):
    rk_name = "ReScore_rank" if re_score else "AnsRank"
    def rank_iter():
        cache = {}
        accepted = 0
        for row in df.itertuples():
            if re_score:
                cache[row.AnsId] = row.ReScore
            else :
                cache[row.AnsId] = row.Score
            # rank, nb_ans
            if (not score_only) and row.AcceptedAge>-1 and (row.AnsId == row.AcceptedAnsId) and row.Age_vot >=row.AcceptedAge:
                accepted = 1
                if row.AnsId in cache:
                    del cache[row.AnsId]
                yield (1,len(cache)+accepted,row.Index)
            else :
                rank = sorted(cache, key= lambda k:cache[k],reverse=True).index(row.AnsId) + 1 + accepted
                yield (rank,len(cache)+accepted,row.Index)
            
    ranks, ans_counts, indices = izip(*list(rank_iter())) #TODO: optimize for the future
    return [pd.Series(ranks,name=rk_name, index=indices), pd.Series(ans_counts,name="Ans_count", index=indices)]

predictors = ['AnsId','Comments','AnsWordCount','AcceptedAnsId','Age_vot','Score','Votes','Upvotes','Downvotes','CumScore','CumVotes','QScore','QVotes','ReScore','QReScore','AnsRank','ReScore_rank']
get_ranks = lambda df,score_only=False,re_score=False: pd.concat([df[cname] for cname in df.columns.values.tolist() if cname in predictors] + rank_ans(df,score_only,re_score),axis=1)
sort_age_score = lambda df: df.sort_values(by=['Age_vot','Score'],ascending=[True,False])

## Base data for model

In [28]:
votes_com_f = votes_com_f.groupby(['QuestionId']).apply(lambda df: get_ranks(sort_age_score(df)))
votes_com_f = votes_com_f.reset_index(level=[0],drop=False)
votes_com_f = votes_com_f.groupby(['QuestionId']).apply(lambda df: get_ranks(sort_age_score(df),score_only=True,re_score=True))
votes_com_f = votes_com_f.reset_index(level=[0],drop=False)

votes_com_f['Pbias'] = 1.0/votes_com_f['AnsRank']
votes_com_f['DRank'] = votes_com_f['AnsRank'] - votes_com_f['ReScore_rank']
votes_com_f.head(20)

,QuestionId,AnsId,Age_vot,AnsWordCount,AcceptedAnsId,QScore,QVotes,Score,Votes,Upvotes,...,CumVotes,CumScore,ReScore,QReScore,Comments,AnsRank,ReScore_rank,Ans_count,Pbias,DRank
4484,1,56,0,201,56,0,0,2,2,2,...,0,0,0.000000,0.000000,0,1,1,1,1.000000,0
0,1,4,0,190,56,0,0,1,3,2,...,0,0,0.000000,0.000000,0,2,2,2,0.500000,0
5773,1,5,0,37,56,0,0,1,1,1,...,0,0,0.000000,0.000000,0,3,3,3,0.333333,0
10683,1,56,1,201,56,12,12,3,3,3,...,2,2,0.666667,0.923077,4,1,1,3,1.000000,0
10735,1,210,1,40,56,12,12,1,1,1,...,0,0,0.000000,0.923077,0,2,2,4,0.500000,0
16223,1,210,4,40,56,12,12,1,1,1,...,1,1,0.500000,0.923077,0,2,2,4,0.500000,0
16703,1,56,4,201,56,12,12,1,1,1,...,5,5,0.833333,0.923077,4,1,1,4,1.000000,0
18974,1,56,7,201,56,12,12,1,1,1,...,6,6,0.857143,0.923077,4,1,1,4,1.000000,0
25833,1,897,108,68,56,12,12,1,1,1,...,0,0,0.000000,0.923077,0,2,3,5,0.500000,-1
25834,1,5,108,37,56,12,12,-1,1,0,...,1,1,0.500000,0.923077,1,5,3,5,0.200000,2
26642,1,56,157,201,56,12,12,1,1,1,...,7,7,0.875000,0.923077,4,1,1,5,1.000000,0
32874,1,56,905,201,56,12,12,1,1,1,...,8,8,0.888889,0.923077,4,1,1,5,1.000000,0
33203,1,7030,951,145,56,12,12,1,1,1,...,0,0,0.000000,0.923077,1,5,6,6,0.200000,-1
33204,1,7030,951,145,56,12,12,1,1,1,...,0,0,0.000000,0.923077,1,5,6,6,0.200000,-1
34758,1,7030,1231,145,56,12,12,1,1,1,...,1,1,0.500000,0.923077,1,5,4,6,0.200000,1
34759,1,7030,1231,145,56,12,12,1,1,1,...,1,1,0.500000,0.923077,1,5,4,6,0.200000,1
34912,1,7030,1255,145,56,12,12,1,1,1,...,2,2,0.666667,0.923077,1,5,2,6,0.200000,3
34913,1,7030,1255,145,56,12,12,1,1,1,...,2,2,0.666667,0.923077,1,5,2,6,0.200000,3
35072,1,7030,1284,145,56,12,12,1,1,1,...,3,3,0.750000,0.923077,1,5,2,6,0.200000,3
35073,1,7030,1284,145,56,12,12,1,1,1,...,3,3,0.750000,0.923077,1,5,2,6,0.200000,3

In [29]:
sum_by_rank = lambda df: df.groupby('AnsRank').apply(lambda df: pd.Series([df.Votes.sum()],name='EPbias').to_frame()).unstack(level=-1).reset_index(level=0,drop=False)
get_ratio = lambda df: sum_by_rank(df).EPbias/(sum_by_rank(df).EPbias.sum())
ratio_per_rank = lambda df: pd.concat([sum_by_rank(df).AnsRank, get_ratio(df)],axis=1)
get_position_bias = lambda df: pd.merge(df,ratio_per_rank(df),how='inner',on=['AnsRank'])

votes = votes_com_f.groupby(['Ans_count']).apply(get_position_bias).reset_index(level=[0,1],drop=True)
votes.columns.values[-1] = "EPbias"
votes

,QuestionId,AnsId,Age_vot,AnsWordCount,AcceptedAnsId,QScore,QVotes,Score,Votes,Upvotes,...,CumScore,ReScore,QReScore,Comments,AnsRank,ReScore_rank,Ans_count,Pbias,DRank,EPbias
0,1,56,0,201,56,0,0,2,2,2,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
1,2,10,0,145,10,0,0,3,3,3,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
2,2,10,0,145,10,0,0,3,3,3,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
3,3,9,0,25,109,0,0,4,4,4,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
4,7,16,0,45,2977,0,0,3,3,3,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
5,14,20,0,28,20,0,0,7,7,7,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
6,18,33,0,133,33,0,0,3,3,3,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
7,18,33,0,133,33,0,0,3,3,3,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
8,18,33,0,133,33,0,0,3,3,3,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
9,21,80,0,43,80,0,0,1,1,1,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
10,21,80,0,43,80,0,0,1,1,1,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
11,22,46,0,110,46,0,0,3,3,3,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
12,25,29,0,21,67,0,0,1,1,1,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
13,26,81,17,37,NaN,7,7,1,1,1,...,0,0.000000,0.875000,3,1,1,1,1.000000,0,1.000000
14,26,81,17,37,NaN,7,7,1,1,1,...,0,0.000000,0.875000,3,1,1,1,1.000000,0,1.000000
15,26,81,905,37,NaN,7,7,1,1,1,...,1,0.500000,0.875000,3,1,1,1,1.000000,0,1.000000
16,26,81,905,37,NaN,7,7,1,1,1,...,1,0.500000,0.875000,3,1,1,1,1.000000,0,1.000000
17,28,41,0,116,41,0,0,3,3,3,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
18,28,41,1,116,41,15,15,4,4,4,...,3,0.750000,0.937500,4,1,1,1,1.000000,0,1.000000
19,28,41,7,116,41,15,15,2,2,2,...,7,0.875000,0.937500,4,1,1,1,1.000000,0,1.000000
20,31,45,0,28,NaN,0,0,2,2,2,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
21,31,45,0,28,NaN,0,0,2,2,2,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
22,31,45,1,28,NaN,17,17,5,5,5,...,2,0.666667,0.944444,2,1,1,1,1.000000,0,1.000000
23,31,45,1,28,NaN,17,17,5,5,5,...,2,0.666667,0.944444,2,1,1,1,1.000000,0,1.000000
24,32,62,0,110,62,0,0,3,3,3,...,0,0.000000,0.000000,0,1,1,1,1.000000,0,1.000000
25,32,62,1,110,62,16,18,2,2,2,...,3,0.750000,0.842105,1,1,1,1,1.000000,0,1.000000
26,32,62,3,110,62,16,18,1,1,1,...,5,0.833333,0.842105,1,1,1,1,1.000000,0,1.000000
27,32,62,7,110,62,16,18,1,1,1,...,6,0.857143,0.842105,1,1,1,1,1.000000,0,1.000000
28,32,62,8,110,62,16,18,1,1,1,...,7,0.875000,0.842105,1,1,1,1,1.000000,0,1.000000
29,32,62,9,110,62,16,18,1,1,1,...,8,0.888889,0.842105,1,1,1,1,1.000000,0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23298,84,205,1452,385,205,58,62,1,1,1,...,54,0.885246,0.920635,16,1,3,12,1.000000,-2,0.735294
23299,84,205,1452,385,205,58,62,1,1,1,...,54,0.885246,0.920635,16,1,3,12,1.000000,-2,0.735294
23300,84,205,1452,385,205,58,62,1,1,1,...,54,0.885246,0.920635,16,1,3,12,1.000000,-2,0.735294
23301,84,205,1452,385,205,58,62,1,1,1,...,54,0.885246,0.920635,16,1,3,12,1.000000,-2,0.735294
23302,84,205,1452,385,205,58,62,1,1,1,...,54,0.885246,0.920635,16,1,3,12,1.000000,-2,0.735294
23303,84,205,1452,385,205,58,62,1,1,1,...,54,0.885246,0.920635,16,1,3,12,1.000000,-2,0.735294
23304,84,205,1465,385,205,58,62,1,1,1,...,55,0.887097,0.920635,16,1,3,12,1.000000,-2,0.735294
23305,84,205,1465,385,205,58,62,1,1,1,...,55,0.887097,0.920635,16,1,3,12,1.000000,-2,0.735294
23306,84,205,1465,385,205,58,62,1,1,1,...,55,0.887097,0.920635,16,1,3,12,1.000000,-2,0.735294
23307,84,205,1465,385,205,58,62,1,1,1,...,55,0.887097,0.920635,16,1,3,12,1.000000,-2,0.735294
23308,84,205,1465,385,205,58,62,1,1,1,...,55,0.887097,0.920635,16,1,3,12,1.000000,-2,0.735294
23309,84,205,1465,385,205,58,62,1,1,1,...,55,0.887097,0.920635,16,1,3,12,1.000000,-2,0.735294
23310,84,205,1465,385,205,58,62,1,1,1,...,55,0.887097,0.920635,16,1,3,12,1.000000,-2,0.735294
23311,84,205,1465,385,205,58,62,1,1,1,...,55,0.887097,0.920635,16,1,3,12,1.000000,-2,0.735294
23312,84,205,1465,385,205,58,62,1,1,1,...,55,0.887097,0.920635,16,1,3,12,1.000000,-2,0.735294
23313,84,205,1465,385,205,58,62,1,1,1,...,55,0.887097,0.920635,16,1,3,12,1.000000,-2,0.735294
23314,84,89,1424,47,205,58,62,1,1,1,...,7,0.875000,0.920635,0,9,4,12,0.111111,5,0.014706
23315,84,93,1424,87,205,58,62,1,1,1,...,21,0.954545,0.920635,7,11,1,12,0.090909,10,0.176471
23316,84,93,1424,87,205,58,62,1,1,1,...,21,0.954545,0.920635,7,11,1,12,0.090909,10,0.176471
23317,84,93,1424,87,205,58,62,1,1,1,...,21,0.954545,0.920635,7,11,1,12,0.090909,10,0.176471
23318,84,93,1424,87,205,58,62,1,1,1,...,21,0.954545,0.920635,7,11,1,12,0.090909,10,0.176471
23319,84,93,1454,87,205,58,62,1,1,1,...,22,0.956522,0.920635,8,11,1,12,0.090909,10,0.176471
23320,84,93,1454,87,205,58,62,1,1,1,...,22,0.956522,0.920635,8,11,1,12,0.090909,10,0.176471
23321,84,93,1454,87,205,58,62,1,1,1,...,22,0.956522,0.920635,8,11,1,12,0.090909,10,0.176471
23322,84,93,1454,87,205,58,62,1,1,1,...,22,0.956522,0.920635,8,11,1,12,0.090909,10,0.176471
23323,84,93,1504,87,205,58,62,1,1,1,...,23,0.958333,0.920635,8,11,1,12,0.090909,10,0.176471
23324,84,93,1504,87,205,58,62,1,1,1,...,23,0.958333,0.920635,8,11,1,12,0.090909,10,0.176471
23325,84,93,1504,87,205,58,62,1,1,1,...,23,0.958333,0.920635,8,11,1,12,0.090909,10,0.176471
23326,84,93,1504,87,205,58,62,1,1,1,...,23,0.958333,0.920635,8,11,1,12,0.090909,10,0.176471
23327,84,14933,1425,85,205,58,62,1,1,1,...,1,0.500000,0.920635,2,7,10,12,0.142857,-3,0.014706

In [ ]:
tt = votes.groupby(['AnsId','Age_vot']).Votes.count().reset_index(level=[0,1],drop=False)
tt[tt.Votes>2].head()

In [30]:
votes.to_csv(path_or_buf='AnsVotes_TSeries.csv')

In [31]:
votes[['Age_vot','AnsWordCount','Comments','Ans_count']].describe()

            Age_vot  AnsWordCount      Comments     Ans_count
count  23328.000000  23328.000000  23328.000000  23328.000000
mean     212.595508    143.485039      2.033522      2.721622
std      380.532603    150.314528      2.851866      2.061537
min        0.000000      3.000000      0.000000      1.000000
25%        1.000000     51.000000      0.000000      1.000000
50%        7.000000     97.000000      1.000000      2.000000
75%      231.000000    178.000000      3.000000      3.000000
max     1504.000000   2142.000000     18.000000     12.000000

In [32]:
votes['Ans_count'].value_counts().head(15)

1     7132
2     6866
3     4033
4     2172
5     1169
6      535
10     484
7      283
8      273
9      240
11      73
12      68
Name: Ans_count, dtype: int64

In [25]:
#votes = votes[ votes.age_vot>=3]
votes = votes[votes.Age_vot<=7]
votes[['Score','Votes','CumScore','CumVotes','QScore','QVotes','ReScore','QReScore','Ans_count','DRank']].describe()

,Score,Votes,CumScore,CumVotes,QScore,QVotes,ReScore,QReScore,Ans_count,DRank
count,11949.000000,11949.000000,11949.000000,11949.000000,11949.000000,11949.000000,11949.000000,11949.000000,11949.000000,11949.000000
mean,1.674785,1.787765,3.338020,3.505733,4.262030,4.482802,0.667576,0.523072,1.892125,0.069462
std,1.404004,1.326312,2.641695,2.575425,6.957248,7.212644,0.233654,0.380433,1.204971,0.589805
min,-3.000000,1.000000,-6.000000,1.000000,-7.000000,0.000000,-0.857143,-0.875000,1.000000,-4.000000
25%,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.500000,0.000000,1.000000,0.000000
50%,1.000000,1.000000,3.000000,3.000000,3.000000,3.000000,0.750000,0.666667,2.000000,0.000000
75%,2.000000,2.000000,5.000000,5.000000,6.000000,6.000000,0.833333,0.833333,2.000000,0.000000
max,12.000000,12.000000,18.000000,18.000000,58.000000,62.000000,0.947368,0.979592,9.000000,8.000000

In [26]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

# How does question quality relate to answer quality

In [124]:
print "Pearson r Score-position: ", votes['Score'].corr(votes['AnsRank'],method='pearson')

Pearson r Score-position:  -0.261224567951

In [107]:
formula = "np.log(Votes+1) ~ C(AnsRank,Diff) - 1"
model = sm.MixedLM.from_formula(formula, votes, re_formula="AnsRank", groups=votes["AnsId"])
result = model.fit()
print result.summary()

c:\Users\Joel\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\Users\Joel\Anaconda2\lib\site-packages\statsmodels\regression\mixed_linear_model.py:1717: ConvergenceWarning: The MLE may be on the boundary of the parameter space.
  warnings.warn(msg, ConvergenceWarning)

                Mixed Linear Model Regression Results
=====================================================================
Model:              MixedLM   Dependent Variable:   np.log(Votes + 1)
No. Observations:   12054     Method:               REML
No. Groups:         4594      Scale:                0.0965
Min. group size:    1         Likelihood:           -4144.7526
Max. group size:    70        Converged:            Yes
Mean group size:    2.6
---------------------------------------------------------------------
                          Coef.  Std.Err.    z    P>|z| [0.025 0.975]
---------------------------------------------------------------------
C(AnsRank, Diff)[D.1]      0.892    0.045  19.975 0.000  0.805  0.980
C(AnsRank, Diff)[D.2]     -0.177    0.008 -21.518 0.000 -0.194 -0.161
C(AnsRank, Diff)[D.3]     -0.067    0.013  -5.304 0.000 -0.092 -0.042
C(AnsRank, Diff)[D.4]      0.020    0.023   0.871 0.384 -0.025  0.065
C(AnsRank, Diff)[D.5]     -0.023    0.045  -0.499 0.618 -0.111  0.066
C(AnsRank, Diff)[D.6]      0.062    0.081   0.774 0.439 -0.096  0.221
C(AnsRank, Diff)[D.7]      0.137    0.160   0.856 0.392 -0.176  0.449
C(AnsRank, Diff)[D.8]      0.265    0.247   1.075 0.282 -0.218  0.748
C(AnsRank, Diff)[D.9]     -0.427    0.305  -1.397 0.162 -1.025  0.172
Intercept RE               0.079    0.020
Intercept RE x AnsRank RE -0.024    0.009
AnsRank RE                 0.007    0.004
=====================================================================

## OLS, Poisson, RobustLM