In [1]:
import pandas as pd
import numpy as np

In [9]:
tt = pd.DataFrame({'aa':[5,6,7],'bb':[False,True,False]})
tt.loc[tt.bb==False,'bb'] = True
tt

   aa    bb
0   5  True
1   6  True
2   7  True

In [3]:
tt = pd.Series([5,6,7])
tt[tt==6].size

1

In [65]:
set(pd.Series([3,5,5])).difference({4:55,3:77})

{5}

In [50]:
ee = dict(zip(pd.Series([2,4,5,9]),pd.Series([2,4,5,9]).index))
ff = dict(zip(pd.Series([5,4,8]),pd.Series([5,7,8]).index))
tt = {i:ee[i] for i in ee if i not in ff}
sorted(tt, key=lambda k:ee[k])

[2, 9]

In [55]:
sorted_ansid = pd.Series([22,33,44,55],name='id')
group_qt = pd.Series([np.nan,np.nan,np.nan,np.nan,66])

In [56]:
non_null_vals = group_qt[(~group_qt.isnull())].values
null_vals = sorted_ansid[~sorted_ansid.isin(non_null_vals)]
group_qt[group_qt.isnull()] = null_vals
group_qt

0    22
1    33
2    44
3    55
4    66
dtype: float64

In [19]:
aa = pd.DataFrame({'aa':[6,2,3],'bb':[2,3,5],'cc':[False,True,True]})
aa

   aa  bb     cc
0   6   2  False
1   2   3   True
2   3   5   True

In [21]:
aa = pd.DataFrame({'aa':[6,2,3],'bb':[2,3,5],'cc':[False,True,True]})
aa = aa.sort_values(by='cc',ascending=False)
aa.loc[:,'new1'] = range(3)
print aa
aa = aa.sort_values(by='aa',ascending=False)
aa.loc[:,'new2'] = range(3)
print aa
aa['new1'] - aa['new2']
#aa.sort_values(by='aa',ascending=False)

   aa  bb     cc  new1
1   2   3   True     0
2   3   5   True     1
0   6   2  False     2
   aa  bb     cc  new1  new2
0   6   2  False     2     0
2   3   5   True     1     1
1   2   3   True     0     2

0    2
2    0
1   -2
dtype: int64

In [16]:
aa

   aa  bb     cc  new1
1   2   3   True     0
2   3   5   True     1
0   6   2  False     2

In [11]:
aa

    aa  bb  cc  gg
0    1   2   0   1
1    2   2   1   1
2    3   5   1   1
zz   1   1   1   1

In [118]:
ee[ee['cc'].isin([6])].index = range(3)

In [119]:
ee

   aa  bb  cc
0   1   2   7
1   2   2   7
2   3   5   7
0   3   4   6
1   3   4   6
2   4   4   6

In [89]:
ee.loc[ee['cc'].isin([6]),['aa','bb']] = 0

In [99]:
pd.DataFrame().size==0

True

In [69]:

for k,g in ee.groupby(['aa']) :
    for m,g1 in g.groupby(['bb']):
        print k,m
        print g1.aa

1 2
0    1
Name: aa, dtype: int64
2 2
1    2
Name: aa, dtype: int64
3 4
0    3
1    3
Name: aa, dtype: int64
3 5
2    3
Name: aa, dtype: int64

In [59]:
from collections import defaultdict
t = defaultdict(int)

t['fg']

0

In [88]:
aa = pd.Series([5,3,5],index=[6,7,8])
bb = pd.Series([3,6,3])
aa.append(bb).max()

6

In [81]:
pd.Series([True,False]).size

2

In [89]:
aa.iloc[1:2] = 99

In [90]:
aa

6     5
7    99
8     5
dtype: int64