In [1]:
import pandas as pd
import numpy as np

In [2]:
from collections import defaultdict
dd = defaultdict(dict)

In [3]:
dd[55][2]=33

In [6]:
dd[55][2]

33

In [65]:
set(pd.Series([3,5,5])).difference({4:55,3:77})

{5}

In [50]:
ee = dict(zip(pd.Series([2,4,5,9]),pd.Series([2,4,5,9]).index))
ff = dict(zip(pd.Series([5,4,8]),pd.Series([5,7,8]).index))
tt = {i:ee[i] for i in ee if i not in ff}
sorted(tt, key=lambda k:ee[k])

[2, 9]

In [73]:
ee = defaultdict(dict)
ee[55][66]=[4,6,7]

In [75]:
ee[55][66][0]

4

In [45]:
if not tt[666]:
    print 'has dict'

has dict

In [30]:
aa = pd.DataFrame({'aa':[3,5,1],'bb':[3,2,1],'cc':[4,3,2]})
dict(zip(aa['aa'],aa['cc']))

{1: 2, 3: 4, 5: 3}

In [50]:
aa.sort_values(by='aa')

   aa  bb  cc
2   1   1   2
0   3   3   4
1 NaN   2   3

In [26]:
aa.loc[aa['aa'].isnull(),'aa'] = 77
aa

   aa  bb  cc
0   3   3   4
1  77   2   3
2   1   1   2

In [28]:
aa.sort_values(by='aa').cc

2    2
0    4
1    3
Name: cc, dtype: int64

In [55]:
sorted_ansid = pd.Series([22,33,44,55],name='id')
group_qt = pd.Series([np.nan,np.nan,np.nan,np.nan,66])

In [56]:
non_null_vals = group_qt[(~group_qt.isnull())].values
null_vals = sorted_ansid[~sorted_ansid.isin(non_null_vals)]
group_qt[group_qt.isnull()] = null_vals
group_qt

0    22
1    33
2    44
3    55
4    66
dtype: float64

In [73]:
aa = pd.DataFrame({'aa':[1,2,3],'bb':[2,2,5],'cc':[7,7,7]})
bb = pd.DataFrame({'aa':[3,3,4],'bb':[4,4,4],'cc':[6,6,6]})
ee = pd.DataFrame()
ee = ee.append(aa)
ee = ee.append(bb)
ee

   aa  bb  cc
0   1   2   7
1   2   2   7
2   3   5   7
0   3   4   6
1   3   4   6
2   4   4   6

In [69]:

for k,g in ee.groupby(['aa']) :
    for m,g1 in g.groupby(['bb']):
        print k,m
        print g1.aa

1 2
0    1
Name: aa, dtype: int64
2 2
1    2
Name: aa, dtype: int64
3 4
0    3
1    3
Name: aa, dtype: int64
3 5
2    3
Name: aa, dtype: int64

In [59]:
from collections import defaultdict
t = defaultdict(int)

t['fg']

0

In [88]:
aa = pd.Series([5,3,5],index=[6,7,8])
bb = pd.Series([3,6,3])
aa.append(bb).max()

6

In [81]:
pd.Series([True,False]).size

2

In [89]:
aa.iloc[1:2] = 99

In [90]:
aa

6     5
7    99
8     5
dtype: int64